%links-list {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: $pad-double-half;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
  }
}

%component-footer {
  border-bottom: 1px solid $color--gray--borders;
  padding-bottom: 20px;
  margin-bottom: 20px;

  @include breakpoint($bp--medium-up) {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}