&lt;div class=&quot;twitter__wrapper&quot;&gt;
  &lt;div class=&quot;twitter--inner&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Twitter &Acirc;&raquo; &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;Follow&lt;/a&gt;&lt;/h2&gt;
    &lt;ul&gt;
      {{# tweets }}
      &lt;li&gt;
        {{&gt; molecules-twitter-small }}
      &lt;/li&gt;
      {{/ tweets }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;