<div class="post-filter__wrapper">
  <div id="masonry--homepage" class="post-filter">
    <h2 class="headline">Latest News from UCSF</h2>
    <div id="post-filter-tags" class="nav nav-section hide-border post-filter__tags">
      <ul>
        <li><a href="#" class="active btn btn--gamma btn--secondary">All</a></li>
        <li><a href="#" class="btn btn--gamma btn--secondary btn--nav--patient-care">Patient Care</a></li>
        <li><a href="#" class="btn btn--gamma btn--secondary btn--nav--education">Education</a></li>
        <li><a href="#" class="btn btn--gamma btn--secondary btn--nav--research">Research</a></li>
        <li><a href="#" class="btn btn--gamma btn--secondary btn--nav--campus-news">Campus News</a></li>
      </ul>
    </div>
    <div class="post-filter-results__wrapper">
      <ul id="post-filter-results" class="masonry-results post-filter__results">
        <li class="big-article"> 
          {{# homepage-latest-news-first }}
            {{> molecules-block-post }}
          {{/ homepage-latest-news-first }}
        </li>
        
        {{# latest-posts }}
        <li class="masonry-sizer">
          <div class="post-filter__results__inner">{{> molecules-block-post-no-image }}</div>
        </li>
        {{/ latest-posts }}
        <li class="more masonry-sizer">
          <div class="post-filter__results__inner">
            <div class="block-more">
              <a href="{{ url }}">See more from the News Center » </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>