<div class="media--coverage__wrapper">
  <div class="media--coverage">
    <h2 class="headline">Media Coverage »</h2>
    <ul>
      {{# media-coverage }}
      <li>
        {{> molecules-media-coverage-small }}
      </li>
      {{/ media-coverage }}
    </ul>
  </div>
</div>