&lt;div class=&quot;page gallery-page&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
  &lt;div class=&quot;scroll&quot;&gt;
    &lt;div class=&quot;wrapper--main&quot; role=&quot;main&quot;&gt;
      &lt;div class=&quot;wrapper--inner&quot;&gt;
        {{&gt; molecules-breadcrumb }}
      &lt;/div&gt;
      
      &lt;div class=&quot;wrapper--inner&quot;&gt;
        &lt;div class=&quot;content-columns&quot;&gt;
          &lt;div class=&quot;content-main content-column--quarter content-column--quarter-3col&quot;&gt;
            {{&gt; molecules-node-post-information }}
            {{&gt; organisms-gallery-rotator }}
          &lt;/div&gt;
          &lt;div class=&quot;content-sidebar content-column--quarter content-column--quarter-1col&quot;&gt;
            {{&gt; organisms-most-read }}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;wrapper--inner&quot;&gt;
        {{&gt; organisms-related-articles }}
        {{&gt; organisms-explore-news }}
      &lt;/div&gt;
    {{&gt; organisms-footer }}
  &lt;/div&gt;
&lt;/div&gt;