<strong>Buttons Dark</strong>
<div style="padding-bottom:40px;">

<input type="button" value="Input type button" class="btn btn--dark"/>

<button type="button" class="btn btn--dark">Button type button</button>

<a href="#" class="btn btn--dark">Button link</a>


</div>
<strong>Button Groups</strong>
<div style="padding-bottom:40px;">

<div class="btn-group">
  <button type="button" class="btn btn--secondary">Button 1</button>
  <button type="button" class="btn btn--secondary">Button 2</button>
  <button type="button" class="btn btn--secondary">Button 3</button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn--primary"><em class="fa fa-cog fa-lg fa-lone"></em></button>
  <button type="button" class="btn btn--primary"><em class="fa fa-cloud-download fa-lg fa-lone"></em></button>
  <button type="button" class="btn btn--primary"><em class="fa fa-bell fa-lg fa-lone"></em></button>
</div>


</div>
<strong>Button with icons</strong>
<div style="padding-bottom:40px;">



  <button type="button" data-toggle="dropdown" class="btn btn--primary">
    <em class="fa fa-cog fa-lg"></em>
    Settings
  </button>

  <button type="button" data-toggle="dropdown" class="btn btn--warning">
    Log out
    <em class="fa fa-sign-out fa-lg fa-right"></em>
  </button>

  <button type="button" data-toggle="dropdown" class="btn btn--dark">
    <em class="fa fa-cog fa-lg fa-lone"></em>
  </button>

  <button type="button" data-toggle="dropdown" class="btn btn--secondary btn--round">
    <em class="fa fa-cog fa-lg fa-lone"></em>
  </button>

  <button type="button" data-toggle="dropdown" class="btn btn--secondary btn--soft">Soft button</button>


</div>
<strong>Buttons Light</strong>
<div style="padding-bottom:40px;">


  <input type="button" value="Input type button" class="btn btn--light"/>

  <button type="button" class="btn btn--light">Button type button</button>

  <a href="#" class="btn btn--light">Button link</a>


</div>
<strong>Buttons primary</strong>
<div style="padding-bottom:40px;">


  <input type="button" value="Input type button" class="btn btn--primary"/>

  <button type="button" class="btn btn--primary">Button type button</button>

  <a href="#" class="btn btn--primary">Button link</a>



</div>
<strong>Buttons Secondary</strong>
<div style="padding-bottom:40px;">


  <input type="button" value="Input type button" class="btn btn--secondary"/>

  <button type="button" class="btn btn--secondary">Button type button</button>

  <a href="#" class="btn btn--secondary">Button link</a>



</div>
<strong>Button Sizes</strong>
<div style="padding-bottom:40px;">


  <button type="button" class="btn btn--primary btn--alpha">.alpha</button>
  <button type="button" class="btn btn--primary btn--beta">.beta</button>
  <button type="button" class="btn btn--primary btn--gamma">.gamma</button>


</div>
<strong>Buttons Transparent</strong>
<div style="padding-bottom:40px;">


  <div class="background-button" style="background-color: #6F6EB0; padding: 50px">
    <button type="button" class="btn btn--transparent">Transparent</button>
  </div>

</div>
<strong>Button variations</strong>
<div style="padding-bottom:40px;">

  <button type="button" disabled="disabled" class="btn"> Disabled button</button>
  <input disabled="disabled" type="button" value="Disabled input button" class="btn"/>

</div>
<strong>Buttons Warning</strong>
<div style="padding-bottom:40px;">

  <input type="button" value="Input type button" class="btn btn--warning"/>

  <button type="button" class="btn btn--warning">Button type button</button>

  <a href="#" class="btn btn--warning">Button link</a>

</div>


<strong>Primary Term Buttons</strong>
<div style="padding-bottom:40px;">
  <a href="#" class="btn btn--term">Default Term</a>
  <a href="#" class="btn btn--term btn--term--research">Research</a>
  <a href="#" class="btn btn--term btn--term--campus-news">Campus News</a>
  <a href="#" class="btn btn--term btn--term--patient-care">Patient Care</a>
  <a href="#" class="btn btn--term btn--term--education">Education</a>
</div>




