<div class="button-demo">
  <h5 class="headline">Primary Term Buttons</h5>
  <div class="button-wrapper">
    <a href="#" class="btn btn--term">Default Term</a>
    <a href="#" class="btn btn--term btn--term--research">Research</a>
    <a href="#" class="btn btn--term btn--term--campus-news">Campus News</a>
    <a href="#" class="btn btn--term btn--term--patient-care">Patient Care</a>
    <a href="#" class="btn btn--term btn--term--education">Education</a>
  </div>
  
  <h5 class="headline">See More Buttons</h5>
  <div class="button-wrapper">
    <a type="button" class="btn btn--more btn--transparent">Subscribe</a>
    <a type="button" class="btn btn--more btn--transparent">Follow</a>
    <a type="button" class="btn btn--more btn--transparent">See More</a>
  </div>
  
  <h5 class="headline">Buttons primary</h5>
  <div class="button-wrapper">
    <a href="#" class="btn btn--normal btn--primary">Primary link</a>
    <a href="#" class="btn btn--corners btn--normal btn--primary">Primary w/corners</a>
  </div>
  <h5 class="headline">Buttons Secondary</h5>
  <div class="button-wrapper">
    <a href="#" class="btn btn--normal btn--secondary">Secondary link</a>
    <a href="#" class="btn btn--corners btn--normal btn--secondary">Secondary w/corners</a>
  </div>
  
  <h5 class="headline">Button Sizes</h5>
  <div class="button-wrapper">
    <a href="#" class="btn btn--primary btn--small">.btn--small</a>
    <a href="#" class="btn btn--primary btn--normal">.btn--normal</a>
    <a href="#" class="btn btn--primary btn--large">.btn--large</a>

  </div>
</div>