&lt;div class=&quot;post-filter__wrapper&quot;&gt;
  &lt;div class=&quot;post-filter&quot;&gt;
    &lt;h2&gt;Latest News from UCSF&lt;/h2&gt;

    &lt;div id=&quot;post-filter-tags&quot; class=&quot;post-filter__tags&quot;&gt;
      &lt;label&gt;
        &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; rel=&quot;patient-care&quot;/&gt;
        Patient Care
      &lt;/label&gt;
      &lt;label&gt;
        &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; rel=&quot;education&quot;/&gt;
        Education
      &lt;/label&gt;
      &lt;label&gt;
        &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; rel=&quot;research&quot;/&gt;
        Research
      &lt;/label&gt;
      &lt;label&gt;
        &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; rel=&quot;campus-news&quot;/&gt;
        Campus News
      &lt;/label&gt;
      &lt;label&gt;
        &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; rel=&quot;other&quot;/&gt;
        Other
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;post-filter-results__wrapper&quot;&gt;
      &lt;ul id=&quot;post-filter-results&quot; class=&quot;post-filter__results&quot;&gt;
        &lt;li class=&quot;patient-care&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;research&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;education&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;campus-news&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;other&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;research&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;patient-care&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;more&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;
            &lt;div class=&quot;block-more&quot;&gt;
              &lt;a href=&quot;{{ url }}&quot;&gt;More Stories &lt;i class=&quot;fa fa-angle-double-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;