<div class="row">
  <input type="text" placeholder="Default input" class="text-input"/>
  <input type="text" placeholder="Medium input" class="text-input input-medium"/>
  <input type="text" placeholder="Large input" class="text-input input-large"/>
</div>