&lt;div class=&quot;block-youtube block-youtube--small&quot;&gt;
  &lt;div class=&quot;block-youtube__inner&quot;&gt;
    {{#img.landscape-16x9.src}}
      {{&gt; atoms-landscape-16x9 }}
    {{/img.landscape-16x9.src}}
    &lt;div class=&quot;block-youtube__body&quot;&gt;
      &lt;h4&gt;&lt;a href=&quot;#&quot;&gt;{{ headline.short }}&lt;/a&gt; &lt;span class=&quot;submitted-by&quot;&gt;by &lt;a href=&quot;#&quot;&gt;{{ remote-account }}&lt;/a&gt;&lt;/span&gt;&lt;/h4&gt;
      &lt;div class=&quot;data&quot;&gt;&lt;span class=&quot;views&quot;&gt;{{ views }} views&lt;/span&gt; | &lt;span class=&quot;time-ago&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ date.ago }}&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;