&lt;div class=&quot;pillar-content&quot;&gt;
  {{&gt; molecules-block-content-quarter }}
  {{&gt; molecules-block-content-quarter }}
  {{&gt; molecules-block-content-quarter-2col }}
  {{&gt; molecules-block-content-quarter }}
  {{&gt; molecules-block-content-quarter-2col }}
&lt;/div&gt;