&lt;div class=&quot;media--coverage__wrapper&quot;&gt;
  &lt;div class=&quot;media--coverage&quot;&gt;
    &lt;h2&gt;Media Coverage&lt;/h2&gt;
    &lt;ul&gt;
      {{# media-coverage }}
      &lt;li&gt;
        {{&gt; molecules-media-coverage-small }}
      &lt;/li&gt;
      {{/ media-coverage }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;