<div class="page" id="page">
  {{> organisms-header }}
  {{> organisms-overlay-navigation }}
  <div class="scroll">
    {{# hero }}
       <div class="wrapper--inner">
         {{> molecules-block-hero }}
       </div>
    {{/ hero}}

    <div class="wrapper--main" role="main">
      <div class="wrapper--inner">
      {{> organisms-homepage-pillars }}
      {{> organisms-homepage-latest-news }}
      {{> organisms-featured-events }}
      </div>
    </div>
    <!--End role=main-->
    
    {{> organisms-footer }}
    
  </div>
</div>