<div class="page" id="page">
    {{> organisms-header }}
  <div class="main" role="main">
      {{# emergency }}
          {{> molecules-alert:error }}
      {{/ emergency }}
      {{# hero }}
          {{> molecules-block-hero }}
      {{/ hero}}

    {{> organisms-homepage-pillars }}
    {{> organisms-post-filter }}

  </div>
  <!--End role=main-->
    {{> organisms-footer }}
</div>