<div class="page" id="page">
  {{> organisms-header }}
  <div class="wrapper--main" role="main">
  
    <div class="wrapper--inner">
      {{> molecules-nav-section }}
    </div>
  
    <div class="wrapper--outer wrapper--blog">
      <div class="wrapper--inner">
        {{> organisms-science-blog }}
      </div>
    </div>
  
    <div class="wrapper--inner">
      {{> organisms-media-coverage }}
      {{> organisms-news-center-latest-news }}
    </div>
  </div>
  <!--End role=main-->
    {{> organisms-footer }}
</div>