<div class="page news-page news-page--sub-page news-page--research" id="page">
  {{> organisms-header }}
  {{> organisms-overlay-navigation }}
  <div class="scroll">
    <div class="wrapper--main" role="main">
    
      <div class="wrapper--inner">
        {{> molecules-nav-section }}
      </div>
      <div class="wrapper--inner">
        
        <div class="preface-blocks">
          <div class="preface-block-main content-column--quarter content-column--quarter-3col">
            {{> organisms-news-rotator }}
          </div>
          <div class="preface-block-popular content-column--quarter content-column--quarter-1col">
            {{# callout }}
            {{> molecules-block-callout }}
            {{/ callout }}
          </div>
        </div>
      </div>   
      
      <div class="wrapper--outer wrapper--blog">
        <div class="wrapper--inner">
          {{> organisms-science-blog }}
        </div>
      </div>
         
      <div class="wrapper--inner">
        <div class="news-center-main">
          <div class="news-center-masonry">
            {{> organisms-news-center-latest-news }}
          </div>
          {{> molecules-pagination }}
          </div>
          <div class="news-center-sidebar">
            
          </div>
        </div>
      </div>
    </div>
    <!--End role=main-->
      {{> organisms-footer }}
  </div>
</div>