&lt;div class=&quot;overlay-navigation-wrapper&quot;&gt;
  {{&gt; molecules-overlay--main-menu }}
  {{&gt; molecules-overlay--about }}
  {{&gt; molecules-overlay--patients }}
  {{&gt; molecules-overlay--research }}
  {{&gt; molecules-overlay--education }}
  {{&gt; molecules-overlay--news }}
  {{&gt; molecules-overlay--support }}
&lt;/div&gt;