&lt;!-- Begin .header --&gt;
&lt;header id=&quot;header&quot; class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
    {{&gt; molecules-nav-global }}
  &lt;div class=&quot;header-logo-bar&quot;&gt;
      {{&gt; atoms-logo }}
    &lt;div class=&quot;header-navs&quot;&gt;
        {{&gt; molecules-nav-primary }}
        {{&gt; molecules-nav-social }}
    &lt;/div&gt;
    {{&gt; atoms-mobile-menu-button }}
  &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;