&lt;div class=&quot;nav-global-wrapper&quot;&gt;
  &lt;div class=&quot;nav-global&quot;&gt;
    &lt;div class=&quot;nav-global__title&quot;&gt;University of California San Francisco&lt;/div&gt;
    &lt;ul class=&quot;nav-global__utility&quot;&gt;
      &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Search&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;