&lt;div class=&quot;page news-page&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
  &lt;div class=&quot;wrapper--main&quot; role=&quot;main&quot;&gt;
  
    &lt;div class=&quot;wrapper--inner&quot;&gt;
      {{&gt; molecules-nav-section }}
    &lt;/div&gt;
    &lt;div class=&quot;wrapper--inner&quot;&gt;
      
      &lt;div class=&quot;preface-blocks&quot;&gt;
        &lt;div class=&quot;preface-block-main content-column--quarter content-column--quarter-3col&quot;&gt;
          {{&gt; organisms-news-rotator }}
        &lt;/div&gt;
        &lt;div class=&quot;preface-block-popular content-column--quarter content-column--quarter-1col&quot;&gt;
          {{&gt; organisms-most-popular }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;wrapper--outer wrapper--blog&quot;&gt;
      &lt;div class=&quot;wrapper--inner&quot;&gt;
        {{&gt; organisms-science-blog }}
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;a id=&quot;media&quot;&gt;&lt;/a&gt;
    &lt;div class=&quot;wrapper--inner&quot;&gt;
      &lt;div class=&quot;media-blocks&quot;&gt;
        &lt;div class=&quot;media-block-main block-content--quarter block-content--quarter-2col&quot;&gt;
          {{&gt; organisms-media-coverage }}
        &lt;/div&gt;
        &lt;div class=&quot;media-block-second block-content--quarter block-content--quarter-1col&quot;&gt;
          {{&gt; organisms-youtube }}
        &lt;/div&gt;
        &lt;div class=&quot;media-block-third block-content--quarter block-content--quarter-1col&quot;&gt;
          {{&gt; organisms-twitter }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;wrapper--inner&quot;&gt;
      &lt;div class=&quot;news-center-masonry&quot;&gt;
        {{&gt; organisms-news-center-latest-news }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!--End role=main--&gt;
    {{&gt; organisms-footer }}
&lt;/div&gt;