/*********************
TYPOGRAPHY
*********************/
// See: _fonts.scss
$default-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font: Granjon, Georgia, TimesNewRoman, "Times New Roman", Times, serif;
$times-font: TimesNewRoman, "Times New Roman", Times, serif;

$font-body: $default-font;
$font-body--regular: 400;
$font-body--medium: 500;
$font-body--bold: 800;
$font-body-alt: $times-font;
$font-headline: $header-font;

////////////////////////
//// Font size and line-height
//$root-typesize   : 14px;
//$base-font-size  : $root-typesize;
//$base-line-px    : 18px;
//$base-line-em    : em($base-line-px);
//$base-line-height: unitless-convert($base-line-em);
////////////////////////
//
