/* ==========================================================================
   Variables
   ========================================================================== */

//Typography

$max-width: 1170px;

$font-size-small : 0.75em;
$font-size-small-2 : 0.92em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-med-3: 1.2em;
$font-size-large : 1.4375em;
$font-size-xlarge : 1.6em;
$font-size-xxlarge : 2em;
$font-size-xxxlarge : 2.4em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-double-half : $pad*2+$pad/2;
$pad-half : $pad/2;
$pad-three-quarter : $pad*.75;
$pad-triple : $pad*3;
$pad-quad : $pad*4;
$pad-quarter :$pad/4;

//Grid vars
$grid-space : $space*1.25;

//Borders
$border-med: 2px;
$border-thick: 4px;
