<!-- Begin .header -->
<header class="header cf" role="banner">
    {{> molecules-global-nav }}
  <div class="header-logo-bar">
      {{> atoms-logo }}
    <div class="header-navs">
        {{> molecules-primary-nav }}
        {{> molecules-social-nav }}
    </div>
  </div>
</header>
<!-- End .header -->