<!-- Begin .header -->
<header id="header" class="header cf" role="banner">
    {{> molecules-nav-global }}
  <div class="header-logo-bar">
      {{> atoms-logo }}
    <div class="header-navs">
        {{> molecules-nav-primary }}
        {{> molecules-nav-social }}
    </div>
    {{> atoms-mobile-menu-button }}
  </div>
</header>
<!-- End .header -->