<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="footer-content">
		
		<div class="footer-blocks">
      <div class="footer-block-main content-column--quarter content-column--quarter-3col">
        <h3>Resources</h3>
        <ul>
          <li><a href="#"><a href="#">A to Z Website List</a></li>
          <li><a href="#">Chancellor</a></li>
          <li><a href="#">Director</a></li>
          <li><a href="#">Diversity</a></li>
          <li><a href="#">Emergency Management</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Ethics & Compliance</a></li>
          <li><a href="#">Human Resources</a></li>
          <li><a href="#">Library</a></li>
          <li><a href="#">Locations/Map</a></li>
          <li><a href="#">Police</a></li>
          <li><a href="#">Shuttle Schedule</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">UCSF Brand Guidelines</a></li>
          <li><a href="#">UCSF Policies</a></li>
        </ul>
      </div>
      <div class="footer-block-right content-column--quarter content-column--quarter-1col">
        <h3>Search</h3>
        <form class="footer-search-form">
          <input class="text-input" type="text" value="" placeholder="by last name">
          <label class="label-radio">
            <input value="ucsf" name="footer-search" type="radio" />UCSF
          </label>
          <label class="label-radio">
            <input value="ppl" name="footer-search" type="radio" />People
          </label>
        </form>
      </div>
    </div>
		
		
		<p class="copyright">&copy; 2014 The Regents of the University of California</p>
	</div>
</footer>
<!-- End Footer -->