<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="footer-content">
		<p class="copyright">&copy; 2014 The Regents of the University of California</p>
	</div>
</footer>
<!-- End Footer -->