&lt;p class=&quot;text--summary&quot;&gt;This is a big size paragraph. Beauty in design is not found by adding prettiness to a bold, functional design, it&acirc;€™s adding detail to the essence, so the functional &lt;strong&gt;logic&lt;/strong&gt; becomes more humane, refined, and clear. As Edward Tufte said: &acirc;€œTo clarify, add detail.&acirc;€ The style for this text is strong. There is an emphasis on this sentence.&lt;/p&gt;