&lt;div class=&quot;pillar-content-block block-content block-content--quarter block-content--quarter-1col&quot;&gt;
  &lt;div class=&quot;block-content__inner&quot;&gt;
    {{#img.landscape-4x3.src}}
      {{&gt; atoms-landscape-4x3 }}
    {{/img.landscape-4x3.src}}
    
    {{^image-type}}
    &lt;div class=&quot;data&quot;&gt;
      {{#headline.short}}&lt;h4&gt;&lt;a href=&quot;#&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h4&gt;{{/headline.short}}
      {{#node-link.name}}&lt;div class=&quot;readmore&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ node-link.name }}&lt;/a&gt;&lt;/div&gt;{{/node-link.name}}
    &lt;/div&gt;
    {{/image-type}}
  &lt;/div&gt;
&lt;/div&gt;