&lt;div class=&quot;pillar-content&quot;&gt;
  &lt;div class=&quot;pillar-3col&quot;&gt;
    
    &lt;div class=&quot;pillar-3col-quarter&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{#pillar-faculty-first}}{{&gt; molecules-block-content-quarter }}{{/pillar-faculty-first}}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{#pillar-faculty-second}}{{&gt; molecules-block-content-quarter }}{{/pillar-faculty-second}}
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;pillar-3col-half&quot;&gt;
        {{#pillar-faculty-third}}{{&gt; molecules-block-content-quarter-2by2col }}{{/pillar-faculty-third}}
    &lt;/div&gt;
    
    &lt;div class=&quot;pillar-3col-quarter&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{#pillar-faculty-fourth}}{{&gt; molecules-block-content-quarter }}{{/pillar-faculty-fourth}}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;