&lt;div class=&quot;logo&quot;&gt;
  &lt;a href=&quot;{{ logo-link.url }}&quot;&gt;&lt;img src=&quot;../../images/logo.png&quot; class=&quot;logo-img {{ logo-link.class }}&quot; alt=&quot;Logo Alt Text&quot; /&gt;&lt;/a&gt;
&lt;/div&gt;