&lt;section class=&quot;section-body&quot;&gt;
  &lt;div class=&quot;font-type&quot;&gt;
    &lt;div class=&quot;font-sample&quot;&gt;
      &lt;h2 class=&quot;font-headline&quot;&gt;Granjon - Regular&lt;/h2&gt;
      &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;font-sample&quot;&gt;
      &lt;h2 class=&quot;font-headline--italic&quot;&gt;Granjon - Italic&lt;/h2&gt;
      &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon-italic&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon-italic, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline--italic&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;font-sample&quot;&gt;
      &lt;h2 class=&quot;font-headline--bold&quot;&gt;Granjon - Bold&lt;/h2&gt;
      &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon-bold&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon-bold, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
      &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline--bold&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;