&lt;div class=&quot;pillar-tabs-wrapper&quot;&gt;
  &lt;div class=&quot;pillar-tabs&quot;&gt;
    &lt;div class=&quot;pillar-tabs-container&quot; id=&quot;pillar_tabs&quot;&gt;
      &lt;h3&gt;I want information for:&lt;/h3&gt;
      &lt;div class=&quot;pillar-tabs-list-wrapper&quot;&gt;
        &lt;ul class=&quot;pillar-tabs-list resp-tabs-list&quot;&gt;
          &lt;li class=&quot;pillar-tabs-btn&quot;&gt;
            &lt;div class=&quot;pillar-tabs-hit&quot;&gt;&lt;span class=&quot;pillar-tabs-word&quot;&gt;Patients&lt;/span&gt;&lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;pillar-tabs-btn&quot;&gt;
            &lt;div class=&quot;pillar-tabs-hit&quot;&gt;&lt;span class=&quot;pillar-tabs-word&quot;&gt;Community&lt;/span&gt;&lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;pillar-tabs-btn&quot;&gt;
            &lt;div class=&quot;pillar-tabs-hit&quot;&gt;&lt;span class=&quot;pillar-tabs-word&quot;&gt;Students&lt;/span&gt;&lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;pillar-tabs-btn&quot;&gt;
            &lt;div class=&quot;pillar-tabs-hit&quot;&gt;&lt;span class=&quot;pillar-tabs-word&quot;&gt;Faculty &amp;amp; Staff&lt;/span&gt;&lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;pillar-tabs-btn&quot;&gt;
            &lt;div class=&quot;pillar-tabs-hit&quot;&gt;&lt;span class=&quot;pillar-tabs-word&quot;&gt;Alumni&lt;/span&gt;&lt;/div&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div class=&quot;resp-tabs-container&quot;&gt;
        &lt;div&gt;
            {{&gt; organisms-homepage-pillars-patients }}
        &lt;/div&gt;
        &lt;div&gt;
            {{&gt; organisms-homepage-pillars-community }}
        &lt;/div&gt;
        &lt;div&gt;
            {{&gt; organisms-homepage-pillars-students }}
        &lt;/div&gt;
        &lt;div&gt;
            {{&gt; organisms-homepage-pillars-faculty-staff }}
        &lt;/div&gt;
        &lt;div&gt;
            {{&gt; organisms-homepage-pillars-alumni }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;