<div class="global-nav-wrapper">
  <div class="global-nav">
    <div class="global-nav-title">University of California San Francisco</div>
    <ul class="global-nav-utility">
      <li><a href="{{ url }}">Search</a></li>
      <li><a href="{{ url }}">Support UCSF</a></li>
      <li><a href="{{ url }}">Contact Us</a></li>
    </ul>
  </div>
</div>