<div class="nav-global-wrapper">
  <div class="nav-global">
    <div class="nav-global__title">University of California San Francisco</div>
    <ul class="nav-global__utility">
      <li>
        <a href="{{ url }}">Search</a><input class="text-input" type="text" value="" placeholder="...">
      </li>
    </ul>
  </div>
</div>