<div class="nav-global-wrapper">
  <div class="nav-global">
    <div class="nav-global__title">University of California San Francisco</div>
    <ul class="nav-global__utility">
      <li><a href="{{ url }}">Search</a></li>
      <li><a href="{{ url }}">Support UCSF</a></li>
      <li><a href="{{ url }}">Contact Us</a></li>
    </ul>
  </div>
</div>