<nav class="nav-primary">
  <ul class="nav-primary__list">    
    {{# navigation }}
    <li><a class="{{ class }}" rel="{{ rel }}" href="{{ url }}">{{ title }}</a></li>
    {{/ navigation }}
  </ul>
</nav><!--end .nav-->
