<nav class="nav-primary" role="navigation" aria-label="Primary Navigation" tabindex="2">
  <ul class="nav-primary__list" role="menubar">    
    {{# navigation }}
    <li role="menuitem" aria-haspopup="true"><a class="{{ class }}" rel="{{ rel }}" href="{{ url }}">{{ title }}</a></li>
    {{/ navigation }}
  </ul>
</nav><!--end .nav-->
