<nav class="nav-primary">
  <ul class="nav-primary__list">
    <li><a href="{{ url }}">About</a></li>
    <li><a href="{{ url }}">Patient Care</a></li>
    <li><a href="{{ url }}">Research</a></li>
    <li><a href="{{ url }}">Education</a></li>
    <li><a href="{{ url }}">News Center</a></li>
    <li><a href="{{ url }}">Inside UCSF</a></li>
  </ul>
</nav><!--end .nav-->
