<ul class="social-nav">
  <li><a href="{{ url }}"><span class="element-invisible">Facebook</span><i class="fa fa-facebook-square"></i></a></li>
  <li><a href="{{ url }}"><span class="element-invisible">Twitter</span><i class="fa fa-twitter-square"></i></a></li>
  <li><a href="{{ url }}"><span class="element-invisible">YouTube</span><i class="fa fa-youtube-square"></i></a></li>
</ul>