<div class="nav nav-section">
<h2 class="headline">{{ title }}</h2>
<nav>
  <ul>
    <li><a href="#" class="active btn btn--gamma btn--secondary">Overview</a></li>
    <li><a href="#" class="btn btn--gamma btn--secondary">Latest</a></li>
    <li><a href="#" class="btn btn--gamma btn--secondary">Patient Care</a></li>
    <li><a href="#" class="btn btn--gamma btn--secondary">Education</a></li>
    <li><a href="#" class="btn btn--gamma btn--secondary">Research</a></li>
    <li><a href="#" class="btn btn--gamma btn--secondary">Campus News</a></li>
  </ul>
</nav>
</div>