<div class="nav nav-section">
<h2 class="headline">{{ title }}</h2>
<nav>
  <ul>
    {{# page-sub-navigation }}
    <li><a class="{{ class }}" href="{{ url }}">{{ title }}</a></li>
    {{/ page-sub-navigation }}
  </ul>
</nav>
</div>