<div id="breadcrumb" class="breadcrumb">
  <ul>
    {{# breadcrumb }}
      {{# url }}<li><a class="{{ class }}" href="{{ url }}">{{ title }}</a></li>{{/ url }}
      {{^ url }}<li><span class="{{ class }}">{{ title }}</span></li>{{/ url }}
    {{/ breadcrumb }}
  </ul>
</div>