<ol class="pager">
  <li class="pager-first">
    <a href="{{ url }}"><span class="element-invisible">First Page</span><i class="fa fa-backward"></i></a>
  </li>
  <li class="pager-prev">
    <a href="{{ url }}"><span class="element-invisible">Previous Page</span><i class="fa fa-play"></i></a>
  </li>
	<li class="current"><a href="{{ url }}">1</a></li>
	<li><a class="active" href="{{ url }}">2</a></li>
	<li><a href="{{ url }}">3</a></li>
	<li><a href="{{ url }}">4</a></li>
	<li><a href="{{ url }}">5</a></li>
	<li><a href="{{ url }}">6</a></li>
	<li><a href="{{ url }}">7</a></li>
	<li><a href="{{ url }}">8</a></li>
	<li><a href="{{ url }}">9</a></li>
	<li class="pager-next">
	  <a href="{{ url }}"><span class="element-invisible">Next Page</span><i class="fa fa-play"></i></a>
	</li>
  <li class="pager-last">
    <a href="{{ url }}"><span class="element-invisible">Last Page</span><i class="fa fa-forward"></i></a>
  </li>
</ol>