&lt;div class=&quot;blog--science__wrapper&quot;&gt;
  &lt;div class=&quot;blog--science&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Science Blog &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;See More&lt;/a&gt;&lt;/h2&gt;
    &lt;ul&gt;
      {{# science-blog }}
      &lt;li&gt;
        {{&gt; molecules-block-blog-small }}
      &lt;/li&gt;
      {{/ science-blog }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;