&lt;div class=&quot;block-post {{ term.class }} {{#img.landscape-16x9.src}}with-image{{/img.landscape-16x9.src}} {{^img.landscape-16x9.src}}without-image{{/img.landscape-16x9.src}}&quot;&gt;
  {{#img.landscape-16x9.src}}
    {{&gt; atoms-landscape-16x9 }}
  {{/img.landscape-16x9.src}}
  &lt;a href=&quot;#&quot; class=&quot;btn btn--term {{ term.class }}&quot;&gt;{{ term.name }}&lt;/a&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;div class=&quot;submitted-date&quot;&gt;{{ date.short }}&lt;/div&gt;
    &lt;h4&gt;&lt;a href=&quot;#&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h4&gt;
    &lt;!--&lt;p&gt;{{ excerpt.short }}&lt;/p&gt;--&gt;
  &lt;/div&gt;
&lt;/div&gt;