/* Colors
   ========================================================================== */
/*
 * Here's a great tutorial on how to
 * use color variables properly:
 * http://sachagreif.com/sass-color-variables/
 */

$color--white: hsl(0, 0%, 100%);
$color--gray--white: hsl(0, 0%, 94.1%);
$color--gray--lightest: hsl(0, 0%, 85.9%);
$color--gray--darker: hsl(0, 0%, 20%);
$color--gray--darkest: hsl(0, 0%, 16.1%);
$color--gray--black: hsl(0, 0%, 10%);
$color--black: hsl(0, 0%, 0%);

$white: $color--white;
$black: $color--black;

$error: red;
$valid: green;

$color--text: $color--gray--black;
$color--primary-1: #0e47bc;


// UCSF Provided Color Palette

$color--primary-nav-active: #dadee4;
$color--gray-pillar: #4d4d4d;
$color--gray--dark: #4d4d4d;
$color--gray-darker: #58595b;
$color--gray: #ececec;
$color--gray--light: #989898;

$color--gray--lighter: #f1f1f1;

$color--gray--borders: #b4b9bf;
$color--gray--dotted-borders: #b4b9bf;
$color--gray--secondary-nav: #b4b9bf;
$color--gray--footer-links: #b4b9bf;
$color--gray--icons: #808285;

$color--oxford-blue: #052049;
$color--blue-green: #18A3AC;
$color--yellow-green: #90BD31;
$color--electric-blue: #178CCB;
$color--cadmium-orange: #F48024;
$color--chetwode-blue: #716FB2;
$color--red: #EC1848;
$color--golden-yellow: #FFDD00;