<section class="section-body">
  
  <div class="font-type">
  <div class="font-sample">
    <h2 class="font-body--light">Helvetica Neue - Light</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-light</p>
    <p><strong>Font Family:</strong> HelveticaNeue-light, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--light</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body--light---italic">Helvetica Neue - Light Italic</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-light-italic</p>
    <p><strong>Font Family:</strong> HelveticaNeue-light-italic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--light--italic</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body">Helvetica Neue - Regular</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-roman</p>
    <p><strong>Font Family:</strong> HelveticaNeue-roman, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body--italic">Helvetica Neue - Italic</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-italic</p>
    <p><strong>Font Family:</strong> HelveticaNeue-italic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--italic</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body--medium">Helvetica Neue - Medium</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-light</p>
    <p><strong>Font Family:</strong> HelveticaNeue-light, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--light</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body--medium---italic">Helvetica Neue - Medium Italic</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-medium-italic</p>
    <p><strong>Font Family:</strong> HelveticaNeue-medium-italic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--medium--italic</p>
  </div>
  <div class="font-sample">
    <h2 class="font-body--bold">Helvetica Neue - Bold</h2>
    <p><strong>Web Font Name:</strong> HelveticaNeue-bold</p>
    <p><strong>Font Family:</strong> HelveticaNeue-bold, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
    <p><strong>SCSS Variable:</strong> $font-body--bold</p>
  </div>
  
  </div>
  <div class="font-type">
  <div class="font-sample">
    <h2 class="font-headline">Granjon - Regular</h2>
    <p><strong>Web Font Name:</strong> granjon</p>
    <p><strong>Font Family:</strong> granjon, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
    <p><strong>SCSS Variable:</strong> $font-headline</p>
  </div>
  <div class="font-sample">
    <h2 class="font-headline--italic">Granjon - Italic</h2>
    <p><strong>Web Font Name:</strong> granjon-italic</p>
    <p><strong>Font Family:</strong> granjon-italic, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
    <p><strong>SCSS Variable:</strong> $font-headline--italic</p>
  </div>
  <div class="font-sample">
    <h2 class="font-headline--bold">Granjon - Bold</h2>
    <p><strong>Web Font Name:</strong> granjon-bold</p>
    <p><strong>Font Family:</strong> granjon-bold, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
    <p><strong>SCSS Variable:</strong> $font-headline--bold</p>
  </div>
</section>