<section class="section-body">
  <div class="font-type">
    <div class="font-sample">
      <h2 class="font-headline">Granjon - Regular</h2>
      <p><strong>Web Font Name:</strong> granjon</p>
      <p><strong>Font Family:</strong> granjon, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
      <p><strong>SCSS Variable:</strong> $font-headline</p>
    </div>
    <div class="font-sample">
      <h2 class="font-headline--italic">Granjon - Italic</h2>
      <p><strong>Web Font Name:</strong> granjon-italic</p>
      <p><strong>Font Family:</strong> granjon-italic, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
      <p><strong>SCSS Variable:</strong> $font-headline--italic</p>
    </div>
    <div class="font-sample">
      <h2 class="font-headline--bold">Granjon - Bold</h2>
      <p><strong>Web Font Name:</strong> granjon-bold</p>
      <p><strong>Font Family:</strong> granjon-bold, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
      <p><strong>SCSS Variable:</strong> $font-headline--bold</p>
    </div>
  </div>
</section>