&lt;dl&gt;
  &lt;dt&gt;Definition Title&lt;/dt&gt;
  &lt;dd&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, est, quidem, accusamus quisquam mollitia inventore quibusdam odio omnis illum fugit quos accusantium dicta sunt officia cupiditate ut eaque expedita repudiandae?&lt;/dd&gt;
&lt;/dl&gt;