&lt;div class=&quot;popular__wrapper&quot;&gt;
  &lt;div class=&quot;popular--inner&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Most Popular &Acirc;&raquo; &lt;a class=&quot;title-icon&quot; href=&quot;{{ url }}&quot;&gt;&lt;span class=&quot;element-invisible&quot;&gt;Most Popular RSS Feed&lt;/span&gt;&lt;i class=&quot;fa fa-rss-square&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/h2&gt;
    &lt;ul&gt;
      {{# popular }}
      &lt;li&gt;
        {{&gt; molecules-popular-small }}
      &lt;/li&gt;
      {{/ popular }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;