&lt;div class=&quot;featured-events__wrapper&quot;&gt;
  &lt;div class=&quot;featured-events&quot;&gt;
    &lt;h2&gt;Featured Events&lt;/h2&gt;
    &lt;ul&gt;
      &lt;li&gt;
        {{&gt; molecules-block-event-small }}
      &lt;/li&gt;
      &lt;li&gt;
        {{&gt; molecules-block-event-small }}
      &lt;/li&gt;
      &lt;li&gt;
        {{&gt; molecules-block-event-small }}
      &lt;/li&gt;
      &lt;li&gt;
        {{&gt; molecules-block-event-small }}
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;