&lt;div class=&quot;featured-events__wrapper&quot;&gt;
  &lt;div class=&quot;featured-events&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Featured Events &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;See All Events&lt;/a&gt;&lt;/h2&gt;
    &lt;ul&gt;      
      {{# featured-events }}
        &lt;li&gt;{{&gt; molecules-block-event-small }}&lt;/li&gt;
      {{/ featured-events }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;