&lt;div id=&quot;post-information&quot; class=&quot;post-information&quot;&gt;
  {{# node }}
  &lt;h1 class=&quot;headline page-title&quot;&gt;{{ title }}&lt;/h1&gt;
  &lt;div class=&quot;submitted&quot;&gt;
    &lt;p&gt;By &lt;span class=&quot;author&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ author.full-name }}&lt;/a&gt;&lt;/span&gt; on {{ date.short }}&lt;/p&gt;
  &lt;/div&gt;
  {{/ node }}
&lt;/div&gt;