/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/**
 * Demo: jsfiddle.net/inuitcss/yMtur
 */
/**
 * Fluid images.
 */
img {
  max-width: 100%; }

/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width], img[height] {
  max-width: none; }

/**
 * Rounded images.
 */
.img--round {
  border-radius: 4px; }

/**
 * Image placement variations.
 */
.embedded-image {
  width: 100%;
  margin-top: 20px;
  
  &.img--left,
  &.img--right {
    margin-bottom: 0;  
  }
  
  
  img {
    display: block;
  }
  @include breakpoint($bp--medium-up) {
    width: 40%;
  }
}

.caption {
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0;
}
.image {
  
}
.img--right {
  float: right;
  margin-bottom: 24px;
  margin-left: 24px; }

.img--left {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px; }

.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto; }

/**
 * Keep your images on your baseline.
 *
 * Please note, these will not work too nicely with fluid images and will
 * distort when resized below a certain width. Use with caution.
 */
.img--short {
  height: 120px; }

.img--medium {
  height: 240px; }

.img--tall {
  height: 360px; }

/**
 * Images in `figure` elements.
 */
figure > img {
  display: block; }