/*------------------------------------*\
    LINKS.CSS    
\*------------------------------------*/
a {
  color: $color--electric-blue;
  text-decoration: none; }
a:hover {
  color: rgba($color--electric-blue, 0.75); 
}
a:active {
  color: rgba($color--electric-blue, 0.75); 
}
a:hover {
  text-decoration: underline; 
}