html {
  overflow-y: scroll;
  min-height: 100%;
}

html,
button,
input,
select,
textarea {
  font: 0.875em/1.71429 $default-font;
}

.main {
  max-width: $site-width;
  @extend .center;

  @include breakpoint($bp--medium-up) {
    padding: 130px $pad 0 $pad;
  }
}


.wrapper {
  
}
.wrapper--main {
  @include breakpoint($bp--medium-up) {
    padding-top: 150px;
    padding-bottom: 0;
  }
}

.wrapper--outer {
  width: 100%;
  @extend .center;
  @extend .cf;
}

.wrapper--inner {
  max-width: $site-width;
  padding-left: 10px;
  padding-right: 10px;
  @extend .cf;
  @extend .center;
}