html {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

html,
button,
input,
select,
textarea {
  font: 0.875em/1.71429 $default-font;
}

p {
  margin: 1em 0;
}

.scroll {
  
  @include breakpoint($bp--medium-up) {
    padding-top: 130px;
  }
}


.main {
  max-width: $site-width;
  @extend .center;

  @include breakpoint($bp--medium-up) {
    padding: 0 $pad 0 $pad;
  }
}


.wrapper {
  
}
.wrapper--main {
  @include breakpoint($bp--medium-up) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.wrapper--outer {
  width: 100%;
  @extend .center;
  @extend .cf;
}

.wrapper--inner {
  max-width: $site-width;
  padding-left: 10px;
  padding-right: 10px;
  @extend .cf;
  @extend .center;
}