.header {
  position: fixed;
  top: 1;
  width: 100%;

  .global-nav {
    @extend .cf;
  }

  .header-logo-bar {
    @extend .cf;
    @extend .center;
    height: 86px;
    padding: 0 $pad;
    max-width: $site-width;
  }

  .header-navs {
    @extend .float--right;
    padding-top: $pad-double-half;
  }

  .logo {
    @extend .float--left;
    padding-top: 20px;
  }

  .nav {
    @extend .float--left;
    margin: $pad-half $pad-double-half 0 0;

    ul {
      @extend %links-list;
    }
  }

  .social-nav {
    @extend .float--left;
  }
}
