.header {
  position: fixed;
  top: 1;
  width: 100%;

  .nav-global {
    @extend .cf;
  }

  .nav-global__utility {
    display: none;
    @include breakpoint($bp--medium-up) {
      display: block;
    }
  }

  .header-logo-bar {
    @extend .cf;
    @extend .center;
    height: 40px;
    padding: 0 10px;
    max-width: $site-width;
    position: relative;
    
    
    @include breakpoint($bp--medium-up) {
      height: 100px;
    }
    @include breakpoint($bp--large-up) {
      height: 120px;
    }
  }

  .header-navs {
    @extend .float--right;
    clear: right;
    padding-top: $pad-double;
    
    @include breakpoint($bp--medium-up) {
      padding-top: 42px;
    }
    @include breakpoint($bp--large-up) {
      padding-top: 55px;
    }
  }

  .logo {
    @extend .float--left;
    padding-top: 7px;
    width: 60px;

    @include breakpoint($bp--medium-up) {
      padding-top: 32px;
      width: 90px;
    }
    @include breakpoint($bp--large-up) {
      padding-top: 32px;
      width: 120px;
    }
  }

  .nav-social {
    display: none;

    @include breakpoint($bp--small-up) {
      display: block;
      position: absolute;
      top: 5px;
      right: 60px;
    }

    @include breakpoint($bp--medium-up) {
      display: block;
      position: relative;
      top: auto;
      right: auto;
      float: left;
    }
  }

  .mobile-menu-button {
    @include breakpoint($bp--medium-up) {
      display: none;
    }
  }
  
  // applying the shrinking logo/header bar after the page has scrolled
  &.page-scrolling {
    
    .header-logo-bar {
      height: 40px;
      
      // 768 up
      @include breakpoint($bp--medium-up) {
        //height: 60px;
      }
      
      @include breakpoint($bp--large-up) {
        //height: 90px;
      }
      // back to normal height at full width (1190 up)
      // so 'shrinking' is ignored
      @include breakpoint($bp--xxlarge-up) {
        height: 120px;
      }
    }
    .header-navs {

      @include breakpoint($bp--medium-up) {
        padding-top: 0;
      }
      @include breakpoint($bp--large-up) {
        //padding-top: 20px;
      }
      @include breakpoint($bp--xxlarge-up) {
        padding-top: 55px;
      }
    }
  
    .logo {
      width: 60px;
      padding-top: 7px;
      
      @include breakpoint($bp--medium-up) {
        padding-top: 10px;
      }
      @include breakpoint($bp--xxlarge-up) {
        padding-top: 32px;
        width: 120px;
      }
    }
  }
}
