&lt;div class=&quot;pillar-content&quot;&gt;
  &lt;div class=&quot;pillar-2col&quot;&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;
      {{&gt; molecules-block-content-quarter-2by2col }}
    &lt;/div&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;
      {{&gt; molecules-block-content-quarter }}
      {{&gt; molecules-block-content-quarter }}
      {{&gt; molecules-block-content-quarter }}
      {{&gt; molecules-block-content-quarter }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;