&lt;div class=&quot;nav nav-section&quot;&gt;
&lt;h2 class=&quot;headline&quot;&gt;{{ title }}&lt;/h2&gt;
&lt;nav&gt;
  &lt;ul&gt;
    {{# page-sub-navigation }}
    &lt;li&gt;&lt;a class=&quot;{{ class }}&quot; href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/li&gt;
    {{/ page-sub-navigation }}
  &lt;/ul&gt;
&lt;/nav&gt;
&lt;/div&gt;