<div id="main-menu-meganav" class="meganav-overlay">
  <div class="wrapper--inner">

    <div class="meganav-overlay-post">
      <h3 class="headline shorter">All Topics<a href="#" class="close-icon fa fa-remove"></a></h3>
    </div>  
    
    <div class="meganav-overlay-menu">
      <ul class="top-level-navigation" role="menubar">    
      {{# navigation }}
        <li role="menuitem"><a class="{{ class }}" rel="{{ rel }}" href="{{ url }}">{{ title }}</a></li>
      {{/ navigation }}
      </ul>
    </div>
  </div>
</div>