<div id="news-meganav" class="meganav-overlay">
  <div class="wrapper--inner">
  {{#news-overlay}}
  <div class="meganav-overlay-post">
    <h3 class="headline">{{overlay-title}}<a href="#" class="close-icon fa fa-remove"></a><a href="#" class="main-menu-icon fa fa-reorder"></a></h3>
    
    {{#img.landscape-16x9.src}}
      {{> atoms-landscape-16x9 }}
    {{/img.landscape-16x9.src}}
    
    <div class="content">
      <h4><a href="#">{{ headline.short }}</a></h4>
      <p>{{ excerpt.short }}</p>
      {{#node-link.name}}<div class="readmore"><a href="#">{{ node-link.name }}</a></div>{{/node-link.name}}
    </div>
  </div>
  
  <div class="meganav-overlay-menu">
    <ul class="subnavigation">
    {{#subnavigation}}
      <li class="menu-item {{#children}}with-children{{/children}}">
        <a href="{{url}}" class="{{class}} {{#children}}toggle-submenu{{/children}}">{{title}}</a>
        {{#children}}
          <ul class="subnavigation--second closed">
            {{#below}}
              <li class="menu-item {{#sub-children}}with-children{{/sub-children}}">
                <a href="{{url}}" class="{{class}} {{#sub-children}}toggle-submenu{{/sub-children}}">{{title}}</a>
                {{#sub-children}}
                  <ul class="subnavigation--third closed">
                    {{#sub-below}}
                      <li class="menu-item"><a href="{{url}}" class="{{class}}">{{title}}</a></li>
                    {{/sub-below}}
                  </ul>
                {{/sub-children}}
              </li>
            {{/below}}
          </ul>
        {{/children}}
      </li>
    {{/subnavigation}}
    </ul>
  </div>
  {{/news-overlay}}
  </div>
</div>