&lt;div class=&quot;pillar-content&quot;&gt;
  &lt;div class=&quot;pillar-3col&quot;&gt;
    
    &lt;div class=&quot;pillar-3col-quarter&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{&gt; molecules-block-content-quarter }}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{&gt; molecules-block-content-quarter }}
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;pillar-3col-half&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{&gt; molecules-block-content-quarter-2col }}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{&gt; molecules-block-content-quarter }}
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;pillar-3col-quarter&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{&gt; molecules-block-content-quarter }}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;