&lt;div class=&quot;pillar-content&quot;&gt;
  &lt;div class=&quot;pillar-2col&quot;&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{# pillar-community-first }}{{&gt; molecules-block-content-quarter }}{{/ pillar-community-first }}
        {{# pillar-community-second }}{{&gt; molecules-block-content-quarter }}{{/ pillar-community-second }}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{# pillar-community-third }}{{&gt; molecules-block-content-quarter }}{{/ pillar-community-third }}
        {{# pillar-community-fourth }}{{&gt; molecules-block-content-quarter }}{{/ pillar-community-fourth }}
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;      
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{# pillar-community-fifth }}{{&gt; molecules-block-content-quarter-2col }}{{/ pillar-community-fifth }}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{# pillar-community-sixth }}{{&gt; molecules-block-content-quarter }}{{/ pillar-community-sixth }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;