<div class="pillar-tabs-wrapper">
  <div class="pillar-tabs">
    <div class="pillar-tabs-container" id="pillar_tabs">
      <h3>I want information for:</h3>
      <div class="pillar-tabs-list-wrapper">
        <ul class="pillar-tabs-list resp-tabs-list">
          <li class="pillar-tabs-btn">
            <div class="pillar-tabs-hit"><span class="pillar-tabs-word">Patients</span></div>
          </li>
          <li class="pillar-tabs-btn">
            <div class="pillar-tabs-hit"><span class="pillar-tabs-word">Community</span></div>
          </li>
          <li class="pillar-tabs-btn">
            <div class="pillar-tabs-hit"><span class="pillar-tabs-word">Students & Trainees</span></div>
          </li>
          <li class="pillar-tabs-btn">
            <div class="pillar-tabs-hit"><span class="pillar-tabs-word">Faculty &amp; Staff</span></div>
          </li>
          <li class="pillar-tabs-btn">
            <div class="pillar-tabs-hit"><span class="pillar-tabs-word">Alumni</span></div>
          </li>
        </ul>
      </div>
      <div class="resp-tabs-container">
        <div>
            {{> organisms-homepage-pillars-patients }}
        </div>
        <div>
            {{> organisms-homepage-pillars-community }}
        </div>
        <div>
            {{> organisms-homepage-pillars-students }}
        </div>
        <div>
            {{> organisms-homepage-pillars-faculty-staff }}
        </div>
        <div>
            {{> organisms-homepage-pillars-alumni }}
        </div>
      </div>
    </div>
  </div>
</div>