<div class="pillar-content">
  <div class="pillar-3col">
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{#pillar-faculty-first}}{{> molecules-block-content-quarter }}{{/pillar-faculty-first}}
      </div>
      <div class="pillar-bottom-half">
        {{#pillar-faculty-second}}{{> molecules-block-content-quarter }}{{/pillar-faculty-second}}
      </div>
    </div>
    
    <div class="pillar-3col-half">
        {{#pillar-faculty-third}}{{> molecules-block-content-quarter-2by2col }}{{/pillar-faculty-third}}
    </div>
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{#pillar-faculty-fourth}}{{> molecules-block-content-quarter }}{{/pillar-faculty-fourth}}
      </div>
      <div class="pillar-bottom-half">
        
      </div>
    </div>
  </div>
</div>