<div class="pillar-content">
  <div class="pillar-2col">
    <div class="pillar-2col-half">
      
      <div class="pillar-top-half">
        {{#pillar-alumni-first}}{{> molecules-block-content-quarter-2col }}{{/pillar-alumni-first}}
      </div>
      <div class="pillar-bottom-half">
        {{#pillar-alumni-second}}{{> molecules-block-content-quarter }}{{/pillar-alumni-second}}
        {{#pillar-alumni-third}}{{> molecules-block-content-quarter }} {{/pillar-alumni-third}} 
      </div>
    </div>
    <div class="pillar-2col-half">
      <div class="pillar-top-half">
        {{#pillar-alumni-fourth}}{{> molecules-block-content-quarter }}{{/pillar-alumni-fourth}}
        {{#pillar-alumni-fifth}}{{> molecules-block-content-quarter }} {{/pillar-alumni-fifth}} 
      </div>
      <div class="pillar-bottom-half">
        
      </div>
    </div>
  </div>
</div>