&lt;div class=&quot;image with--caption&quot;&gt;
  &lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;{{ img.landscape-16x9.src }}&quot; alt=&quot;{{ img.landscape-16x9.alt }}&quot; /&gt;&lt;/a&gt;
  &lt;div class=&quot;caption&quot;&gt;{{ caption }}&lt;/div&gt;
&lt;/div&gt;
