&lt;h5 class=&quot;headline&quot;&gt;Primary Palette&lt;/h5&gt;
&lt;ul class=&quot;palette ng-scope&quot;&gt;
  &lt;li&gt;
    &lt;h3&gt;Oxford Blue&lt;/h3&gt;
    &lt;div style=&quot;background-color: #052049;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#052049&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--oxford-blue&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Blue Green&lt;/h3&gt;
    &lt;div style=&quot;background-color: #18A3AC;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#18A3AC&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--blue-green&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Yellow Green&lt;/h3&gt;
    &lt;div style=&quot;background-color: #90BD31;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#90BD31&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--yellow-green&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Rich Electric Blue&lt;/h3&gt;
    &lt;div style=&quot;background-color: #178CCB;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#178CCB&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--electric-blue&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Cadmium Orange&lt;/h3&gt;
    &lt;div style=&quot;background-color: #F48024;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#F48024&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--cadmium-orange&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;h5 class=&quot;headline&quot;&gt;Secondary Palette&lt;/h5&gt;

&lt;ul class=&quot;palette ng-scope&quot;&gt;
  &lt;li&gt;
    &lt;h3&gt;Chetwode Blue&lt;/h3&gt;
    &lt;div style=&quot;background-color: #716FB2;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#716FB2&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--chetwode-blue&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Red&lt;/h3&gt;
    &lt;div style=&quot;background-color: #EC1848;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#EC1848&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--??&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Golden Yellow&lt;/h3&gt;
    &lt;div style=&quot;background-color: #FFDD00;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#FFDD00&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--??&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;h5 class=&quot;headline&quot;&gt;Neutral Palette&lt;/h5&gt;

&lt;ul class=&quot;palette ng-scope&quot;&gt;
  &lt;li&gt;
    &lt;h3&gt;Light Grey&lt;/h3&gt;
    &lt;div style=&quot;background-color: #D1D3D3;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#D1D3D3&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--??&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Heather&lt;/h3&gt;
    &lt;div style=&quot;background-color: #B4B9BF;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#B4B9BF&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--??&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;h3&gt;Black&lt;/h3&gt;
    &lt;div style=&quot;background-color: #000000;&quot; class=&quot;color&quot;&gt;&lt;span class=&quot;hex&quot;&gt;#B4B9BF&lt;/span&gt;&lt;span class=&quot;variable&quot;&gt;$color--??&lt;/span&gt;&lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;