&lt;div class=&quot;post-filter__wrapper&quot;&gt;
  &lt;div id=&quot;masonry--homepage&quot; class=&quot;post-filter&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Latest News from UCSF&lt;/h2&gt;
    &lt;div id=&quot;post-filter-tags&quot; class=&quot;nav nav-section hide-border post-filter__tags&quot;&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active btn btn--gamma btn--secondary&quot;&gt;All&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn--gamma btn--secondary&quot;&gt;Patient Care&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn--gamma btn--secondary&quot;&gt;Education&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn--gamma btn--secondary&quot;&gt;Research&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn--gamma btn--secondary&quot;&gt;Campus News&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn--gamma btn--secondary&quot;&gt;Other&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;post-filter-results__wrapper&quot;&gt;
      &lt;ul id=&quot;post-filter-results&quot; class=&quot;masonry-results post-filter__results&quot;&gt;
        &lt;li class=&quot;big-article&quot;&gt; 
          {{# homepage-latest-news-first }}
            {{&gt; molecules-block-post }}
          {{/ homepage-latest-news-first }}
        &lt;/li&gt;
        
        {{# latest-posts }}
        &lt;li class=&quot;masonry-sizer&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post-no-image }}&lt;/div&gt;
        &lt;/li&gt;
        {{/ latest-posts }}
        &lt;li class=&quot;more masonry-sizer&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;
            &lt;div class=&quot;block-more&quot;&gt;
              &lt;a href=&quot;{{ url }}&quot;&gt;See more from the News Center &Acirc;&raquo; &lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;