/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * `.brand` is a quick and simple way to apply your brand face and/or color to
 * any element using a handy helper class.
 */
.brand {
  font-family: "Helvetica Neue", sans-serif!important;
  color: #4a8ec2!important; }

.brand-face {
  font-family: "Helvetica Neue", sans-serif!important; }

.brand-color, .brand-colour {
  color: #4a8ec2!important; }