/*------------------------------------*\
    $RULES
\*------------------------------------*/
/**
 * Horizontal rules, extend `hr`.
 *
 * Demo: jsfiddle.net/inuitcss/L6GuZ
 *
 */
.rule {
  color: #BFBFBF;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 23px;
  margin-bottom: 1.64286rem; }

/**
 * Dotted rules
 */
.rule--dotted {
  border-bottom-style: dotted; }

/**
 * Dashed rules
 */
.rule--dashed {
  border-bottom-style: dashed; }

/**
 * Ornamental rules. Places a Â§ over the rule.
 */
.rule--ornament {
  position: relative;
  /**
    * Pass in an arbitrary ornament though a data attribute, e.g.:
    *
      <hr class="rule  rule--ornament" data-ornament="!">
    *
    */ }
.rule--ornament:after {
  content: "\00A7";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 0;
  text-align: center; }
.rule--ornament[data-ornament]:after {
  content: attr(data-ornament); }

.rule--light {
  border-color: #fff; }