/*------------------------------------*\
    LINKS.CSS    
\*------------------------------------*/
a {
  color: #18A3AC;
  text-decoration: none; }
a:hover {
  color: #18A3AC; }
a:active {
  color: #18A3AC; }
a:hover {
  text-decoration: underline; }