* {
  @include box-sizing(border-box);
}

body {
  font-family: $font-body;
  color: $color--text;
}

html,
button,
input,
select,
textarea {
  font-family: $font-body;
  font-size: $root-typesize;
}

.main {
  max-width: $site-width;
  @extend .center;

  @include breakpoint($bp--medium-up) {
    padding: 130px $pad 0 $pad;
  }
}