/* Text-Related Elements */

p {
  margin-top: 0;
  margin-bottom: $base-line-em;
}


/* Blockquote */
blockquote {
  font-family: "quatro-slab", serif;
  font-style: italic;
  border-left: 2px solid $color--primary-1;
  color: $color--gray;
  padding-left: $pad;
  margin-bottom: $space;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  margin: $space-double 0;
}

abbr {
  border-bottom: 1px dotted $color--gray;
  cursor: help;
}