.block-more {
  margin: 0;

  a {
    display: block;
    padding: 10px;
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    font-family: $font-body--light;
    color: $color--oxford-blue;
    background-color: $color--gray--white;
    
    @include breakpoint($bp--medium-up) {
      min-height: 120px;
    }
    @include breakpoint($bp--large-up) {

    }
    @include breakpoint($bp--xlarge-up) {
      min-height: 120px;
    }

    &:hover {
      text-decoration: none;
      background-color: rgba($color--gray--white, 0.75);
    }
  }
}
