.block-blog {
  @extend .cf;
}

.block-blog__inner {
  @extend .cf;
}

.block-blog__img {
  float: left;
  margin-top: 5px;
  
  img {
    width: 64px;
    height: auto;
  }
}

.block-blog__body {
  float: left;
  padding-left: $pad;
  width: 75%;
  
  h3 {
    font-family: $font-body;
    font-weight: $font-body--medium;
    color: $color--gray-darker;
    font-size: 15px;
    line-height: 20px;
    
    a {
      color: $color--gray-darker;
      //text-decoration: none;
    }
  }
}

.submitted-by {
  color: $color--electric-blue;
  font-size: 13px;
  line-height: 18px;
}