.block-event {
  @extend .cf;
  
}

.block-event__inner {
  @extend .cf;
}



.block-event__body {
  position: relative;
  padding-left: 84px;
  min-height: 64px;
}

.block-event__img {
  position: absolute;
  top: 0;
  left: 0;
  
  img {
    width: 64px;
    height: auto;
  }
}



.block-event__date {
  color: $color--electric-blue;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 5px;
}

.block-event__title {
  color: $color--gray--dark;
  font-size: 15px;
  line-height: 17px;
  
  a {
    color: $color--gray--dark;
  }
}
