.rotator__wrapper {
  
  .flexslider {
    position: relative;
  }
  
  ul.slides {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    @extend .cf;
    
    li {
      position: relative;
      padding: 0;
      margin: 0;
      display: block;
      
      img {
        display: block;
        z-index: 1;
      }
      
      .btn--term {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 13px;
      }
      .data {
        
        z-index: 2;
        @extend .cf;
        padding: 10px;
        
        text-transform: none;
        background: $white;
        
        @include breakpoint($bp--small-up) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 20px;
          padding-bottom: 15px;
          background: rgba($white, 0.9);
        }
        
        h4 {
          
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0;
          
          @include breakpoint($bp--small-up) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 10px;
          }
          color: $color--gray-darker;
          
          a {
            color: $color--gray-darker;
          }
        }
        
        @include breakpoint($bp--small-up) {
          .readmore {
            
            a {
              font-size: 12px;
              line-height: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
  
  .flexslider-carousel {
    position: relative;
    padding: 0 40px;
    display: none;
    
    // the carousel seems clunky on smaller screens
    @include breakpoint($bp--large-up) {
      display: block;  
    }
  }
  
  ul.thumbnail-carousel-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    @extend .cf;
    z-index: 100;
    
    li {
      position: relative;
      padding: 0;
      margin: 0;
      margin-right: 10px;
      display: block;
      max-height: 60px;
      min-height: 60px;
      overflow: hidden;
    }
    
    img {
      display: block;
      z-index: 1;
      opacity: 0.4;
      cursor: pointer;
      
      position: relative;
      
      top: -10px;
      
      -webkit-user-select: none; /* Chrome/Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      
      transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
    }
    
    li.flex-active {
      img {
        opacity: 1;
      }
    }
  }
  
  
  
  ul.flex-direction-nav {
    margin: 0;
    
    padding: 0;
    list-style-type: none;
  
    
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
    
    
    li {
      //@extend .cf;
      z-index: 1;
      
      a.flex-disabled {
        .btn {
          color: $color--gray--light;
          border: 1px solid $color--gray--light;
        }
          
      }
      .btn {
        border: 1px solid $color--electric-blue;
        color: $color--electric-blue;
        padding: 0 10px;
        font-size: 10px;
        line-height: 30px;
        margin-bottom: 0;
        
        &:hover {
          border-color: lighten($color--electric-blue, 10%);
          color: lighten($color--electric-blue, 10%);
        }
        
        
        
        .fa {
          margin: 0;
        }
      }
      
      .flex-prev {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -20px;
        
        .btn {
          padding-left: 6px;
        }
      }
      
      .flex-next {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px;
        
        .btn {
          padding-right: 6px;
        }
      }
    }
  }  
  ol.flex-control-nav {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0 50px;
    
    li {
      z-index: 2;
      display: inline-block;
      max-width: 120px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}