ol.pager,
ul.pager {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
  
  li {
    margin: 0;
    padding: 0;
    display: none;
    
    @include breakpoint($bp--small-up) {
      display: inline-block;
    }
    
    a {
      padding: 6px 10px;
      border: 1px solid $color--electric-blue;
      color: $color--electric-blue;
      font-size: 11px;
      line-height: 11px;
      text-decoration: none;
      @include corners(3px);
      
      &:hover {
        background: rgba($color--gray, 0.50);
      }
      
      &.active,
      &:active {
        background: $color--gray;
      }
    }
  }
  
  // always show the prev/next / first/last, even on tiny screen
  li.pager-first,
  li.pager-prev,
  li.pager-next,
  li.pager-last {
    display: inline-block;
  }
  
  // adjust the icon for "next", which is the 'play' icon and rotate it the other way.
  li.pager-prev {
    .fa {
      /* Safari */
      -webkit-transform: rotate(-180deg);
      /* Firefox */
      -moz-transform: rotate(-180deg);
      /* IE */
      -ms-transform: rotate(-180deg);
      /* Opera */
      -o-transform: rotate(-180deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
  }
  // adjust the first/last because the icons are smaller
  li.pager-first,
  li.pager-last {
    a {
      //padding: 6px 10px;
      //font-size: 13px;
    }
  }
}