.pillar-content {
  @extend .cf;
  margin: 0 -15px;
  
  img, .btn--ctype {
    display: none;
  }
  
  @include breakpoint($bp--large-up) {
    
    max-height: 462px;
    
    
    
    img, .btn--ctype {
      display: block;
    }
    .block-content--quarter-2by2col,
    .block-content--quarter-1col,
    .block-content--quarter-2col {
      display: block;  
    }
    
  }
  
  .block-content {
    padding: 15px;
  }

  .pillar-top-half,
  .pillar-bottom-half {
    @extend .cf;
    
    position: relative;
    height: 50%;
    max-height: 231px;
  }
  
  
  .pillar-2col,
  .pillar-3col {
    @extend .cf;
    
    .pillar-3col-quarter {
      @include breakpoint($bp--large-up) {
        width: 25%;
        float: left;
      }
    }
    
    .pillar-2col-half,
    .pillar-3col-half {
      position: relative;
      
      // create the MAIN columns
      @include breakpoint($bp--large-up) {
        width: 50%;
        float: left;
        
        // make the small ones half width (2 per col)
        .block-content--quarter-1col {
          width: 50%;
          float: left;
        }
        
        .block-content--quarter-1col,
        .block-content--quarter-2col {
          //min-height: 231px;
        }
        
        // manipulate the 2x2 to 'line up'
        // equal heights is used so the columns are the same height
        .block-content--quarter-1col,
        .block-content--quarter-2col {
          height: 100%;
          max-height: 100%;
          position: relative;
          
          .block-content__inner {
            height: 100%;
            max-height: 100%;
            position: relative;
          }
        }
        
        .block-content--quarter-2by2col {
          height: 100%;
          max-height: 100%;
          position: relative;
          
          .block-content__inner {
            height: 100%;
            max-height: 100%;
            position: relative;
          }
        }
        
        .block-content--quarter-1col,
        .block-content--quarter-2col,
        .block-content--quarter-2by2col {
          overflow: hidden;
          .block-content__inner {
            overflow: hidden;
          }
          img {
            min-height: 100%;
            width: auto;
          }
        }
      }
    }
  }
  
  
  .data {
        
    z-index: 2;
    @extend .cf;
    padding: 10px;
    
    text-transform: none;
    background: $white;
    
    @include breakpoint($bp--large-up) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;
      background: rgba($white, 0.9);
      border-bottom: 4px solid $color--oxford-blue;
    }
    
    h4 {
      
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
      
      @include breakpoint($bp--xlarge-up) {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
      }
      color: $color--gray-darker;
      
      a {
        color: $color--gray-darker;
      }
    }
    
    .readmore {
      font-size: 10px;
      
      a {
        
        color: $color--gray--darker;
      }
    }
  }
}
