.pillar-content {
  @extend .cf;
  
  img, .btn--ctype {
    display: none;
  }
  
  @include breakpoint($bp--large-up) {
    img, .btn--ctype {
      display: block;
    }
    .block-content--quarter-2by2col,
    .block-content--quarter-1col,
    .block-content--quarter-2col {
      display: block;  
    }
    
  }
  
  .block-content--quarter-2by2col {
    //margin-bottom: 30px;  
    
    @include breakpoint($bp--large-up) {
      margin-bottom: 0;  
    }
  }
  
  
  
  .pillar-top-half {
    position: relative;
    height: 50%;
  }
  .pillar-bottom-half {
    position: relative;
    height: 50%;
  }
  
  // can visually only hold one row
  .pillar-top-half {
    
    .block-content {
      padding: 0;
      
      &:nth-child(1) {
        // 1x1
        &.block-content--quarter-1col {
          padding: 0 15px 15px 0;
        }
        // 2x1
        &.block-content--quarter-2col {
          padding: 0 0 15px 0;
        }
      }
      
      &:nth-child(2) {
        // 1x1
        &.block-content--quarter-1col {
          padding: 0 0 15px 15px;
        }
      }
    }
  }
  
  .pillar-bottom-half {
    
    .block-content {
      padding: 0;
      
      &:nth-child(1) {
        // 1x1
        &.block-content--quarter-1col {
          padding: 15px 15px 0 0;
        }
        // 2x1
        &.block-content--quarter-2col {
          padding: 15px 0 0 0;
        }
      }
      
      &:nth-child(2) {
        // 1x1
        &.block-content--quarter-1col {
          padding: 15px 0 0 15px;
        }
      }
    }
  }
  
  
  .pillar-2col {
    @extend .cf;
    
    .pillar-2col-half {
      position: relative;
      
      
      @include breakpoint($bp--large-up) {
        // the default for ANY block (1x1, 2x1, 2x2)
        
        // make the small ones half width (2 per col)
        .block-content--quarter-1col {
          width: 50%;
          float: left;
        }
        
        .block-content--quarter-2col {
          padding-bottom: 15px;
          
          &:nth-child(2) {
            padding-bottom: 0;
          }
        }
      }
      
      // create the MAIN columns
      @include breakpoint($bp--large-up) {
        width: 50%;
        float: left;
        
        &:first-child {
          padding-right: 15px;
        }
        
        &:last-child {
          padding-left: 15px;
        }
        
        
        .block-content--quarter-1col,
        .block-content--quarter-2col {
          min-height: 222px;
        }
        
        // manipulate the 2x2 to 'line up'
        // equal heights is used so the columns are the same height
        .block-content--quarter-1col,
        .block-content--quarter-2col {
          height: 100%;
          position: relative;
          
          .block-content__inner {
            height: 100%;
            position: relative;
          }
          
          
        }
        .block-content--quarter-2by2col {
          height: 100%;
          position: relative;
          
          .block-content__inner {
            height: 100%;
            position: relative;
          }
          
          
        }
        
        .block-content--quarter-1col,
        .block-content--quarter-2col,
        .block-content--quarter-2by2col {
          overflow: hidden;
          .block-content__inner {
            overflow: hidden;
          }
          
          img {
            
            min-height: 100%;
            width: auto;
          }
        }
      }
    }
  }
  
  
  .data {
        
    z-index: 2;
    @extend .cf;
    padding: 10px;
    
    text-transform: none;
    background: $white;
    
    @include breakpoint($bp--large-up) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;
      background: rgba($white, 0.9);
      border-bottom: 4px solid $color--oxford-blue;
    }
    
    h4 {
      
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
      
      @include breakpoint($bp--xlarge-up) {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
      }
      color: $color--gray-darker;
      
      a {
        color: $color--gray-darker;
      }
    }
    
    .readmore {
      font-size: 10px;
      
      a {
        
        color: $color--gray--darker;
      }
    }
  }
}
