.pillar-tabs-wrapper {
  @extend %component-footer;
  padding-top: 20px;
  
  h3 {
    color: $color--oxford-blue;
  }
}

.pillar-tabs {
  @extend .center;
  //@extend %adaptive-container;

  .resp-tab-active {
    position: relative;

    .pillar-tabs-hit {
      background-color: $color--oxford-blue;
      border-top: 1px solid $color--oxford-blue;
      color: $white;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 16%;
      
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 20px;
      border-color: $color--oxford-blue transparent transparent transparent;

      @include breakpoint($bp--medium-up) {
        left: 50%;
        margin-left: -20px;
        bottom: -20px;
        content: "";
      }

      @include breakpoint($bp--large-up) {
        //left: 40%;
      }

      @include breakpoint($bp--xlarge-up) {
        //left: 44%;
      }
    }
  }
}

.pillar-tabs-container {
  
}

.pillar-tabs-list-wrapper {
  @include breakpoint($bp--medium-up) {
    
    padding-bottom: 20px;
    margin-bottom: 12px;
  }
}

.pillar-tabs-list {
  @extend %block-square-5-wrapper;
  margin-left: 0;
  margin-right: 0;
}

.pillar-tabs-btn {
  @extend %block-square-5;
}

.pillar-tabs-hit {
  width: auto;
  //height: 100%;
  display: block;
  background-color: none;
  
  font-family: $font-headline;
  
  
  color: lighten($color--gray-pillar, 20);
  font-size: $font-size-large;
  line-height: $font-size-large;
  cursor: pointer;
  padding: 3px 0 0 12px;

  @include transition(background-color, $default-transition-duration, $default-transition-function);
  @include transition(color, $default-transition-duration, $default-transition-function);

  @include breakpoint($bp--medium-up) {
    border-top: 1px solid $color--gray--dotted-borders;
    padding: 8px 0;
    margin: 0;
    text-align: center;
  }

  @include breakpoint($bp--large-up) {
    font-size: $font-size-xlarge;
  }

  @include breakpoint($bp--xlarge-up) {
    font-size: $font-size-xxlarge;
  }

  @include breakpoint($bp--xxlarge-up) {
    font-size: 32px;
  }

  &:hover {
    background-color: darken($white, 2.5);
    color: $color--gray-pillar;
  }
}

.pillar-tabs-word {
  display: block;
  padding: 0;
  white-space: nowrap;
  
  
  @include breakpoint($bp--medium-up) {
    //padding: 0 $pad-quarter;
    position: relative;
    /*
top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
*/
  }

  @include breakpoint($bp--large-up) {
    //padding: 0 $pad-half;
  }

  @include breakpoint($bp--xlarge-up) {
    //padding: 0 $pad;
  }

  @include breakpoint($bp--small-down) {
    line-height: 45px;
  }
}


/*-----------Styles for Accordion plugin-----------*/

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

.resp-tab-content {
  display: none;
  border-top: $border-med;
  margin: $pad-double $pad $pad;
  padding-top: $pad-and-half;

  @include breakpoint($bp--medium-up) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

h2.resp-accordion {
  cursor: pointer;
  //padding: $pad-half;
  display: none;
}

@include breakpoint($bp--small-down) {

  .resp-content-active, .resp-accordion-active {
    display: block;
  }

  h2.resp-accordion {
    font-size: $font-size-med-2;
    background: $color--gray--lighter;
    border: none;
    margin: 0 0 2px 0;
    padding: 0;
    display: block;
    height: 50px;
  }

  h2.resp-tab-active {
    margin-bottom: 0px !important;
    //padding: 1px 15px !important;
    //background-color: $color--gray--dark;
  }

  h2.resp-tab-title:last-child {
    background: blue;
  }

  ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
  }

  .resp-easy-accordion  h2.resp-accordion {
    display: block;
  }

  .resp-jfit {
    width: 100%;
    margin: 0px;
  }

  .resp-tab-content-active {
    position: relative;
    display: block;

    &:before {
      content: "";
      position: absolute;
      top: -15px;
      left: 9%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 15px 12.5px;
      border-color: transparent transparent #000000 transparent;
    }
  }

  .resp-tabs-list li {
    font-weight: 600;
    //font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
  }

  ul.resp-tabs-list {
    display: none;
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }
  .resp-accordion-closed {
    display:none !important;
  }
}
