.post-filter {
  overflow: hidden;
  margin: 0;
  //@extend %adaptive-container;

  @include breakpoint($bp--medium-up) {
    margin: 0 auto;
  }
}

.post-filter__wrapper {
  @extend %component-footer;
  
  @include breakpoint($bp--medium-up) {
    padding-bottom: $pad-half;
  }
}

.post-filter__tags {
  margin-bottom: $pad;

  @include breakpoint($bp--large-up) {
    margin-bottom: $pad-double;
  }

  label {
    display: inline-block;
    padding: $pad-quarter $pad-half;
    background-color: $color--gray--lightest;
    font-size: $font-size-med-2;
    margin: 0 $pad-quarter $pad-quarter 0;
    font-weight: normal;

    @include breakpoint($bp--xlarge-up) {
      margin: 0 $pad-half 0 0;
      padding: $pad-quarter $pad;
      font-size: $font-size-xlarge;
    }
  }
}

.post-filter__results {
  @extend .center;
  min-width: 100% !important;
  max-width: 100% !important;
  
  li {
    width: 100%;
    list-style-type: none;  
  }
  
  @include breakpoint($bp--small-up) {
    //margin: 0 -15px;
    
    li {
      width: 50%;
      padding: 15px;
      margin: 0;
    }
  }

  @include breakpoint($bp--medium-up) {
    li {
      width: 33.333%;
      padding: 15px;
      margin: 0;
    }
  }

  @include breakpoint($bp--large-up) {
    li {
      
    }
  }

  @include breakpoint($bp--xlarge-up) {
    li {
      width: 25%;
      padding: 15px;
      margin: 0;
    }
  }

  @include breakpoint($bp--xxlarge-up) {
    li {
      
    }
  }

}

.post-filter__results__inner {
  margin: 0;

  @include breakpoint($bp--medium-up) {
    //margin: $pad;
  }
}

.post-filter-results__wrapper {
  
  @include breakpoint($bp--medium-up) {
    margin: 0 -15px;
  }
  
}
