.wrapper--blog {
  background: $color--gray;
  padding: $pad 0;
  @extend .cf;
  margin-bottom: $pad-quad;
}

.blog--science {
  padding: 0 $pad;

  h2.headline {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    @extend .cf;
  }

  li {
    padding: 0;
    margin: 0;
    display: block;
    
    @include breakpoint($bp--medium-up) {
      float: left;
      width: 32.333%;
      padding-right: 15px;
      margin-left: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-right: 2px solid lighten($color--gray-darker, 40%);

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
  
  .block-blog__inner {
    position: relative;
    padding-left: 84px;
  }
  .block-blog__img {
    position: absolute;
    top: 0;
    left: 0;
    
    img {
      display: block;
    }
  }
  .block-blog__body {
    padding-left: 0;
    float: none;
    width: 100%;
  }


  @include breakpoint($bp--medium-up) {
    padding: 0;
  }
}

.blog--science__wrapper {
  @extend .cf;
}