/**
 * This or That
 */
.ui-this-that {
  border-bottom: 1px #BFBFBF solid;
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 1.71429rem; }
.ui-this-that span {
  background: #fff;
  padding: 0px 10px;
  display: inline-block;
  position: relative;
  bottom: -0.8em;
  color: #BFBFBF; }