&lt;div class=&quot;pillar-content&quot;&gt;
  &lt;div class=&quot;pillar-2col&quot;&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;
      
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{#pillar-alumni-first}}{{&gt; molecules-block-content-quarter-2col }}{{/pillar-alumni-first}}
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        {{#pillar-alumni-second}}{{&gt; molecules-block-content-quarter }}{{/pillar-alumni-second}}
        {{#pillar-alumni-third}}{{&gt; molecules-block-content-quarter }} {{/pillar-alumni-third}} 
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pillar-2col-half&quot;&gt;
      &lt;div class=&quot;pillar-top-half&quot;&gt;
        {{#pillar-alumni-fourth}}{{&gt; molecules-block-content-quarter }}{{/pillar-alumni-fourth}}
        {{#pillar-alumni-fifth}}{{&gt; molecules-block-content-quarter }} {{/pillar-alumni-fifth}} 
      &lt;/div&gt;
      &lt;div class=&quot;pillar-bottom-half&quot;&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;