.block-event {
  @extend .cf;
  //margin-bottom: 20px;
}

.block-event__inner {
  //padding: $pad;
  @extend .cf;
}



.block-event__body {
  position: relative;
  padding-left: 84px;
  min-height: 64px;
}

.block-event__img {
  position: absolute;
  top: 0;
  left: 0;
  
  img {
    width: 64px;
    height: auto;
  }
}



.block-event__date {
  font-weight: bold;
  font-size: $font-size-med-2;
  margin-bottom: $pad-quarter;
}

.block-event__description {
  line-height: 1.4;
}
