.block-post {
  position: relative;
  padding: 0;
  background: $color--gray--lighter;
  // the wrapper can get the same class as the button to transfer the color changes
  // but a few things need reset
  
  &.btn-term {
    text-transform: none;  
  }
  // when there is an image, render the primary term absolutely
  .btn--term {
    margin-bottom: 0;
  }
  &.with-image {
    .btn--term {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }  
  }
  &.without-image {
    padding-top: 25px;
    
    .btn--term {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }  
  }
  .content {
    padding: 10px;
    @extend .cf;
  }
  
  
  .submitted-date {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: $color--gray--light;
  }
  
  h4 {
    font-family: $font-body--light;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    color: $color--gray--darker;
    
    a {
      color: $color--gray--darker;
      text-decoration: none;
      
      &:hover {
        color: $color--oxford-blue;
      }
    }
  }
}

// on certain pages, show the border
// sub pages hide the term button and instead show a border
.news-page--sub-page {
  
  .block-post {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    
    a.btn--term {
      display: none;
    }
    
    &.without-image { 
      padding-top: 5px;
    }
    
    &.btn--term,
    &.btn--term--research {
      border-bottom-color: $color--blue-green;
    }
    
    &.btn--term--campus-news {
      border-bottom-color: $color--chetwode-blue;
    }
    
    &.btn--term--patient-care {
      border-bottom-color: $color--electric-blue;
    }
    
    &.btn--term--education {
      border-bottom-color: $color--yellow-green;
    }
    
    
  }
}