.featured-events {
  padding: 0 $pad;
  @extend %adaptive-container;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;

    @include breakpoint($bp--medium-up) {
      float: left;
      width: 50%;

      &:nth-of-type(odd) {
        border-right: 2px solid $color--gray--lighter;
      }
    }

    @include breakpoint($bp--xlarge-up) {
      width: 25%;
      border-right: 2px solid $color--gray--lighter;

      &:last-child {
        border-right: none;
      }
    }
  }

  @include breakpoint($bp--medium-up) {
    padding: 0;
  }
}

.featured-events__wrapper {
  @extend .cf;
}

