.nav-section {
  border-bottom: 2px solid $color--oxford-blue;
  padding-bottom: 22px;
  margin-bottom: 36px;
  
  &.hide-border {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  
  h2.headline {
    @include breakpoint($bp--large-up) {
      margin-bottom: 8px;
      padding-bottom: 0;
    }
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @extend .cf;
  }

  li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    margin-right: 10px;
  }
  
  a {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 10px;
    border-radius: 0;
    
    &.active {
      background: $color--gray--dark;
      border-color: $color--gray--dark;
    }
    
    &.btn--nav--research {
      &.active {
        background: $color--blue-green;
        border-color: $color--blue-green;
      }
    }
    
    &.btn--nav--campus-news {
      &.active {
        background: $color--chetwode-blue;
        border-color: $color--chetwode-blue;  
      }
    }
    
    &.btn--nav--patient-care {
      &.active {
        background: $color--electric-blue;
        border-color: $color--electric-blue;
      }
    }
    
    &.btn--nav--education {
      &.active {
        background: $color--yellow-green;
        border-color: $color--yellow-green;
      }
    }
    
    &.btn--nav--latest {
      &.active {
        background: $color--oxford-blue;
        border-collapse: $color--oxford-blue;
      }
    }
  }
}