.nav-section {
  border-bottom: 2px solid $color--oxford-blue;
  padding-bottom: 22px;
  margin-bottom: 36px;
  
  h2.headline {
    @include breakpoint($bp--large-up) {
      margin-bottom: 8px;
      padding-bottom: 0;
    }
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @extend .cf;
  }

  li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    margin-right: 10px;
  }
  
  a {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 10px;
    border-radius: 0;
    
    &.active {
      background: #4d4d4d;
      border-color: #4d4d4d;
    }
  }
}