.nav-global {
  height: 30px;
  font-size: $font-size-small-2;
  line-height: 30px;
  padding: 0 $pad;
  max-width: $site-width;
  @extend .center;
}

.nav-global-wrapper {
  background-color: $color--gray--darker;
}

.nav-global__title {
  @extend .float--left;
  color: $white;
}

.nav-global__utility {
  display: none;
  @extend .float--right;
  @extend %links-list;

  @include breakpoint($bp--medium-up) {
    display: block;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}