.nav-social {
  @extend %links-list;
  
  li {
    margin-right: $pad-half;

    &:last-child {
      .fa {
        margin-right: 0;
      }
    }
  }

  a {
    font-size: 22px;
    color: $color--gray--icons;
  }
}