/**
 * Nav Secondary
 */
.nav-secondary {
  /* Links */
  /* Forms */
  /* Buttons */
  float: right;
  display: none;
  /**
     * Show on tablet
     */ }
.nav-secondary ul {
  list-style: none;
  margin: 0; }
.nav-secondary > ul > li {
  display: inline-block;
  margin: 0 0 0 1em; }
.nav-secondary > ul > li > a {
  display: inline-block;
  padding: 0.5em 1em; }
.nav-secondary form, .nav-secondary .text-input, .nav-secondary .form-control {
  display: inline-block;
  margin: 0; }
.nav-secondary .btn {
  margin-bottom: 0; }


 @include breakpoint($bp--large-up) {
  .nav-secondary {
    display: block; 
  } 
}
