.media-blocks {
  
  @extend %block-square-4-wrapper;
  padding-bottom: $pad-double;
  border-bottom: 2px solid $color--gray--lighter;
  margin: 0;
  margin-bottom: $pad-double;

  .media--coverage__wrapper {
    @include breakpoint($bp--medium-up) {
      padding-right: 30px;
      border-right: 3px dotted #b4b9bf;  
    }
  }
  
  .youtube__wrapper,
  .twitter__wrapper {
    @include breakpoint($bp--medium-up) {
      padding-left: 30px;
      
      img {
        max-width: 75%;
      }
    }
  }
  
}
