.preface-blocks {
  @extend %content-column-4-wrapper;
  padding-bottom: $pad-double;
  margin: 0;
  margin-bottom: $pad-quad;
  
  
  
  
  
  
  .preface-block-main {
    @include breakpoint($bp--medium-up) {
      //float: none;
      //width: 100%;  
    }
    @include breakpoint($bp--large-up) {
      //@extend %content-column-4-3col;
      padding-right: 15px;
    }
  }
  .preface-block-popular {
    margin-top: 40px;
    @include breakpoint($bp--large-up) {
      margin-top: 0;
      padding-left: 15px;
    }
  }
}

.news-center-masonry .post-filter__wrapper {
  border-bottom: 0;
}


.media-blocks {
  
  @extend %block-square-4-wrapper;
  padding-bottom: $pad-double;
  border-bottom: 2px solid $color--gray--lighter;
  margin: 0;
  margin-bottom: $pad-double;

  .media--coverage__wrapper {
    @include breakpoint($bp--medium-up) {
      padding-right: 30px;
      border-right: 2px dotted $color--gray--borders;  
    }
  }
  
  .youtube__wrapper,
  .twitter__wrapper {
    @include breakpoint($bp--medium-up) {
      padding-left: 30px;
      
      img {
        max-width: 75%;
      }
    }
  }
}


.news-center-masonry {
  .block-more {
    border: 0;
    margin: 0;
    
    a {
      min-height: 120px;
      color: $color--oxford-blue;
      font-size: 28px;
      line-height: 32px;
      font-weight: 200;
      background: $color--gray--lighter;
      
      &:hover {
        background: rgba($color--gray--lighter, 0.75);
      }
    }
  }
}