// related articles and explore news blocks
.masonry--block-wrapper {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  
  .post-filter {
    h2.headline {
      
    } 
  }
}

.content-main {
  margin-bottom: 40px;
}

@include breakpoint($bp--large-up) {
  .content-main {
    margin-bottom: 0;
    padding-right: 15px;
  }
  .content-sidebar {
    margin-top: 0;
    padding-left: 15px;
  }
}