.preface-column--quarter {
  @extend %preface-column-4;
}
.preface-column--quarter-1col {
  @extend %preface-column-4-1col;
}
.preface-column--quarter-2col {
  @extend %preface-column-4-2col;
}
.preface-column--quarter-3col {
  @extend %preface-column-4-3col;
}

.media-column--quarter {
  @include breakpoint($bp--large-up) {
    margin: 0;
  }
}
.media-column--quarter-1col {
  @include breakpoint($bp--medium-up) {
    float: left;
    width: 50%;
  }
  @include breakpoint($bp--large-up) {
    width: 25%;
  }
}
.media-column--quarter-2col {
  @include breakpoint($bp--large-up) {
    float: left;
    width: 50%;
  }
}




.preface-blocks {
  @extend %content-column-4-wrapper;
  
  margin: 0;
  
  @include breakpoint($bp--large-up) {
    margin-bottom: 25px;
    padding-bottom: $pad-double;
  }
  
  /*
@include breakpoint($bp--medium-up) {
    .preface-block-main {
      float: none;
      width: 100%;  
    }
    .preface-block-popular {
      float: none;
      width: 100%;  
    }
  }
*/

  .preface-block-main {
    margin-bottom: 25px;
  }
  @include breakpoint($bp--large-up) {
    .preface-block-main {
      margin-bottom: 0;
      padding-right: 15px;
    }
    .preface-block-popular {
      margin-top: 0;
      padding-left: 15px;
    }
  }
  
}

.news-center-masonry .post-filter__wrapper {
  border-bottom: 0;
}


.media-blocks {
  
  @extend %content-column-4-wrapper;
  padding-bottom: 15px;
  border-bottom: 2px solid $color--gray--lighter;
  margin: 0;
  margin-bottom: 30px;

  .media--coverage__wrapper {
    margin-bottom: 30px;
    
    @include breakpoint($bp--large-up) {
      margin-bottom: 0;
      padding-right: 30px;
      border-right: 2px dotted $color--gray--borders;  
    }
  }
  .youtube__wrapper {
    margin-bottom: 30px;
    @include breakpoint($bp--medium-up) { 
      img {
        max-width: 75%;
      }
    }
    @include breakpoint($bp--large-up) {
      padding-left: 30px;
      margin-bottom: 0;
    }
  }
  .twitter__wrapper {
    margin-bottom: 30px;
    @include breakpoint($bp--medium-up) {
      padding-left: 30px;
      margin-bottom: 0;
      
      img {
        max-width: 75%;
      }
    }
  }
}


.news-center-masonry {
  .block-more {
    border: 0;
    margin: 0;
    
    a {
      min-height: 120px;
      color: $color--oxford-blue;
      font-size: 28px;
      line-height: 32px;
      font-weight: 200;
      background: $color--gray--lighter;
      
      &:hover {
        background: rgba($color--gray--lighter, 0.75);
      }
    }
  }
}