&lt;div class=&quot;row&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;Default input&quot; class=&quot;text-input&quot;/&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;Medium input&quot; class=&quot;text-input input-medium&quot;/&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;Large input&quot; class=&quot;text-input input-large&quot;/&gt;
&lt;/div&gt;