&lt;div class=&quot;page news-page news-page--sub-page news-page--campus-news&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-header }}
  {{&gt; organisms-overlay-navigation }}
  &lt;div class=&quot;scroll&quot;&gt;
    &lt;div class=&quot;wrapper--main&quot; role=&quot;main&quot;&gt;
    
      &lt;div class=&quot;wrapper--inner&quot;&gt;
        {{&gt; molecules-nav-section }}
      &lt;/div&gt;
      
    &lt;/div&gt;
    &lt;!--End role=main--&gt;
      {{&gt; organisms-footer }}
  &lt;/div&gt;
&lt;/div&gt;