<div class="block-content block-content--quarter block-content--quarter-2col">
  <div class="block-content__inner">
    <div class="block-content__label"><div class="block-content__label__text">Story/Video</div></div>
    <h5>{{ excerpt.short }}</h5>
  </div>
</div>