<div class="block-content block-content--quarter block-content--quarter-2col">
  <div class="block-content__inner">
    {{#img.landscape-16x9.src}}
      {{> atoms-landscape-16x9 }}
    {{/img.landscape-16x9.src}}
    <a href="#" class="btn btn--ctype">{{ ctype.name }}</a>
    {{^image-type}}
    <div class="data">
      {{#headline.short}}<h4><a href="#">{{ headline.short }}</a></h4>{{/headline.short}}
      {{#link.name}}<div class="readmore"><a href="#">{{ link.name }}</a></div>{{/link.name}}
    </div>
    {{/image-type}}
  </div>
</div>