<div class="block-post {{ term.class }} without-image">
  <a href="#" class="btn btn--term {{ term.class }}">{{ term.name }}</a>
  <div class="content">
    <div class="submitted-date">{{ date.short }}</div>
    <h4><a href="#">{{ headline.short }}</a></h4>
  </div>
</div>