<div class="block-event block-event--small">
  <div class="block-event__inner">
    <div class="block-event__body">
      <div class="block-event__img">
        {{> atoms-square }}
      </div>
      <h5 class="block-event__date">{{ date.short }}</h5>
      <p class="block-event__description">{{ headline.short }}</p>
    </div>
  </div>
</div>