<div class="block-blog block-blog--small">
  <div class="block-blog__inner">
    <div class="block-blog__img">
        {{> atoms-square }}
    </div>
    <div class="block-blog__body">
      <h3><a href="#">{{ headline.short }}</a></h3>
      <div class="submitted-by">{{ submitted.info }}</div>
    </div>
  </div>
</div>