<div class="block-media block-media--small">
  <div class="block-media__inner">
    <div class="block-media__body">
      <h3><a href="#">{{ headline.short }}</a></h3>
      <div class="data"><span class="submitted-date">{{ date.short }}</span> | <span class="media-location"><a href="#">{{ term.name }}</a></span></div>
    </div>
  </div>
</div>