<div class="block-twitter">
  <div class="content">    
    <h4><a href="#">{{ account.name }}</a> <a class="handle" href="#">{{ account.handle }}</a></h4>
    <p class="tweet">{{ excerpt.short }} <span class="submitted-date">{{ date.ago }}</span></p>
    {{#img.landscape-16x9.src}}
      {{> atoms-landscape-16x9 }}
    {{/img.landscape-16x9.src}}
  </div>
</div>