<div class="block-popular block-popular--with-date">
  <div class="content">    
    <h4><a href="#">{{ headline.short }}</a></h4>
    <div class="submitted-date">{{ date.short }}</div>
  </div>
</div>