<div class="block-callout">
  <div class="content">
    <h4><a href="#">{{ headline.short }}</a></h4>
    <p>{{ excerpt.short }}</p>
    <div class="readmore">
      <a type="button" class="btn btn--more btn--transparent {{ callout-link.class }}">{{ callout-link.name }}</a>
    </div>
  </div>
</div>