&lt;div id=&quot;main-menu-meganav&quot; class=&quot;meganav-overlay&quot;&gt;
  &lt;div class=&quot;wrapper--inner&quot;&gt;

    &lt;div class=&quot;meganav-overlay-post&quot;&gt;
      &lt;h3 class=&quot;headline&quot;&gt;All Topics&lt;a href=&quot;#&quot; class=&quot;close-icon fa fa-remove&quot;&gt;&lt;/a&gt;&lt;/h3&gt;
    &lt;/div&gt;  
    
    &lt;div class=&quot;meganav-overlay-menu&quot;&gt;
      &lt;ul class=&quot;top-level-navigation&quot; role=&quot;menubar&quot;&gt;    
      {{# navigation }}
        &lt;li role=&quot;menuitem&quot;&gt;&lt;a class=&quot;{{ class }}&quot; rel=&quot;{{ rel }}&quot; href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/li&gt;
      {{/ navigation }}
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;