&lt;form&gt;
  &lt;label&gt;Email&lt;/label&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;columns four&quot;&gt;
      &lt;input type=&quot;text&quot; placeholder=&quot;Placeholder text&quot; class=&quot;text-input&quot;/&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;label&gt;Password&lt;/label&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;columns four&quot;&gt;
      &lt;input type=&quot;password&quot; placeholder=&quot;Placeholder text&quot; class=&quot;text-input&quot;/&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;label&gt;Textarea&lt;/label&gt;

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;columns eight&quot;&gt;
      &lt;textarea rows=&quot;5&quot; cols=&quot;5&quot;&gt;&lt;/textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;label&gt;Checkboxes/Radio&lt;/label&gt;
  &lt;label class=&quot;label-checkbox&quot;&gt;
    &lt;input type=&quot;checkbox&quot;/&gt;Checkbox control
  &lt;/label&gt;
  &lt;label class=&quot;label-radio&quot;&gt;
    &lt;input type=&quot;radio&quot;/&gt;Radio control
  &lt;/label&gt;
  &lt;label&gt;Select field&lt;/label&gt;

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;columns five&quot;&gt;
      &lt;select class=&quot;js-selecter&quot;&gt;
        &lt;option&gt;Option 1&lt;/option&gt;
        &lt;option&gt;Option 2&lt;/option&gt;
        &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;


  &lt;label&gt;Multiple Select&lt;/label&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;columns five&quot;&gt;
      &lt;select multiple=&quot;true&quot; class=&quot;js-selecter&quot;&gt;
        &lt;option&gt;Option 1&lt;/option&gt;
        &lt;option&gt;Option 2&lt;/option&gt;
        &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;label&gt;File input&lt;/label&gt;
  &lt;div class=&quot;dropzone&quot;&gt;&lt;/div&gt;
  &lt;label class=&quot;label-checkbox&quot;&gt;
    &lt;input type=&quot;checkbox&quot;/&gt;I agree to the &lt;a href=&quot;#&quot;&gt;Terms of Service&lt;/a&gt; and &lt;a href=&quot;#&quot;&gt;Privacy Policy&lt;/a&gt;
  &lt;/label&gt;
  &lt;button class=&quot;btn btn--primary btn--fix&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;