<div id="post-information" class="post-information">
  {{# node }}
  <h1 class="headline page-title">{{ title }}</h1>
  <div class="submitted">
    <p>By <span class="author"><a href="#">{{ author.full-name }}</a></span> on {{ date.short }}</p>
  </div>
  {{/ node }}
</div>