&lt;div class=&quot;post-filter__wrapper&quot;&gt;
  &lt;div class=&quot;post-filter&quot;&gt;
    &lt;h2 class=&quot;headline&quot;&gt;Latest News from UCSF&lt;/h2&gt;
    &lt;div class=&quot;post-filter-results__wrapper&quot;&gt;
      &lt;ul id=&quot;post-filter-results&quot; class=&quot;post-filter__results&quot;&gt;
        {{# latest-posts }}
        &lt;li&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;{{&gt; molecules-block-post }}&lt;/div&gt;
        &lt;/li&gt;
        {{/ latest-posts }}
        
        &lt;li class=&quot;more&quot;&gt;
          &lt;div class=&quot;post-filter__results__inner&quot;&gt;
            &lt;div class=&quot;block-more&quot;&gt;
              &lt;a href=&quot;{{ url }}&quot;&gt;More Stories &Acirc;&raquo; &lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;