&lt;section class=&quot;section-body&quot;&gt;
  
  &lt;div class=&quot;font-type&quot;&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--light&quot;&gt;Helvetica Neue - Light&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-light&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-light, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--light&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--light---italic&quot;&gt;Helvetica Neue - Light Italic&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-light-italic&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-light-italic, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--light--italic&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body&quot;&gt;Helvetica Neue - Regular&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-roman&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-roman, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--italic&quot;&gt;Helvetica Neue - Italic&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-italic&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-italic, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--italic&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--medium&quot;&gt;Helvetica Neue - Medium&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-light&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-light, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--light&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--medium---italic&quot;&gt;Helvetica Neue - Medium Italic&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-medium-italic&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-medium-italic, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--medium--italic&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-body--bold&quot;&gt;Helvetica Neue - Bold&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; HelveticaNeue-bold&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; HelveticaNeue-bold, &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-body--bold&lt;/p&gt;
  &lt;/div&gt;
  
  &lt;/div&gt;
  &lt;div class=&quot;font-type&quot;&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-headline&quot;&gt;Granjon - Regular&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-headline--italic&quot;&gt;Granjon - Italic&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon-italic&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon-italic, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline--italic&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;font-sample&quot;&gt;
    &lt;h2 class=&quot;font-headline--bold&quot;&gt;Granjon - Bold&lt;/h2&gt;
    &lt;p&gt;&lt;strong&gt;Web Font Name:&lt;/strong&gt; granjon-bold&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;Font Family:&lt;/strong&gt; granjon-bold, Georgia, TimesNewRoman, &quot;Times New Roman&quot;, Times, serif&lt;/p&gt;
    &lt;p&gt;&lt;strong&gt;SCSS Variable:&lt;/strong&gt; $font-headline--bold&lt;/p&gt;
  &lt;/div&gt;
&lt;/section&gt;