<h5 class="headline">Primary Palette</h5>
<ul class="palette ng-scope">
  <li>
    <h3>Oxford Blue</h3>
    <div style="background-color: #052049;" class="color"><span class="hex">#052049</span><span class="variable">$color--oxford-blue</span></div>
  </li>
  <li>
    <h3>Blue Green</h3>
    <div style="background-color: #18A3AC;" class="color"><span class="hex">#18A3AC</span><span class="variable">$color--blue-green</span></div>
  </li>
  <li>
    <h3>Yellow Green</h3>
    <div style="background-color: #90BD31;" class="color"><span class="hex">#90BD31</span><span class="variable">$color--yellow-green</span></div>
  </li>
  <li>
    <h3>Rich Electric Blue</h3>
    <div style="background-color: #178CCB;" class="color"><span class="hex">#178CCB</span><span class="variable">$color--electric-blue</span></div>
  </li>
  <li>
    <h3>Cadmium Orange</h3>
    <div style="background-color: #F48024;" class="color"><span class="hex">#F48024</span><span class="variable">$color--cadmium-orange</span></div>
  </li>
</ul>

<h5 class="headline">Secondary Palette</h5>

<ul class="palette ng-scope">
  <li>
    <h3>Chetwode Blue</h3>
    <div style="background-color: #716FB2;" class="color"><span class="hex">#716FB2</span><span class="variable">$color--chetwode-blue</span></div>
  </li>
  <li>
    <h3>Red</h3>
    <div style="background-color: #EC1848;" class="color"><span class="hex">#EC1848</span><span class="variable">$color--??</span></div>
  </li>
  <li>
    <h3>Golden Yellow</h3>
    <div style="background-color: #FFDD00;" class="color"><span class="hex">#FFDD00</span><span class="variable">$color--??</span></div>
  </li>
</ul>

<h5 class="headline">Neutral Palette</h5>

<ul class="palette ng-scope">
  <li>
    <h3>Light Grey</h3>
    <div style="background-color: #D1D3D3;" class="color"><span class="hex">#D1D3D3</span><span class="variable">$color--??</span></div>
  </li>
  <li>
    <h3>Heather</h3>
    <div style="background-color: #B4B9BF;" class="color"><span class="hex">#B4B9BF</span><span class="variable">$color--??</span></div>
  </li>
  <li>
    <h3>Black</h3>
    <div style="background-color: #000000;" class="color"><span class="hex">#B4B9BF</span><span class="variable">$color--??</span></div>
  </li>
</ul>