&lt;div class=&quot;button-demo&quot;&gt;
  &lt;h5 class=&quot;headline&quot;&gt;Primary Term Buttons&lt;/h5&gt;
  &lt;div class=&quot;button-wrapper&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--term&quot;&gt;Default Term&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--term btn--term--research&quot;&gt;Research&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--term btn--term--campus-news&quot;&gt;Campus News&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--term btn--term--patient-care&quot;&gt;Patient Care&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--term btn--term--education&quot;&gt;Education&lt;/a&gt;
  &lt;/div&gt;
  
  &lt;h5 class=&quot;headline&quot;&gt;See More Buttons&lt;/h5&gt;
  &lt;div class=&quot;button-wrapper&quot;&gt;
    &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;Subscribe&lt;/a&gt;
    &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;Follow&lt;/a&gt;
    &lt;a type=&quot;button&quot; class=&quot;btn btn--more btn--transparent&quot;&gt;See More&lt;/a&gt;
  &lt;/div&gt;
  
  &lt;h5 class=&quot;headline&quot;&gt;Buttons primary&lt;/h5&gt;
  &lt;div class=&quot;button-wrapper&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--normal btn--primary&quot;&gt;Primary link&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--corners btn--normal btn--primary&quot;&gt;Primary w/corners&lt;/a&gt;
  &lt;/div&gt;
  &lt;h5 class=&quot;headline&quot;&gt;Buttons Secondary&lt;/h5&gt;
  &lt;div class=&quot;button-wrapper&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--normal btn--secondary&quot;&gt;Secondary link&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--corners btn--normal btn--secondary&quot;&gt;Secondary w/corners&lt;/a&gt;
  &lt;/div&gt;
  
  &lt;h5 class=&quot;headline&quot;&gt;Button Sizes&lt;/h5&gt;
  &lt;div class=&quot;button-wrapper&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--small&quot;&gt;.btn--small&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--normal&quot;&gt;.btn--normal&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn--primary btn--large&quot;&gt;.btn--large&lt;/a&gt;

  &lt;/div&gt;
&lt;/div&gt;