<div class="pillar-content">
  <div class="pillar-3col">
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{> molecules-block-content-quarter }}
      </div>
      <div class="pillar-bottom-half">
        {{> molecules-block-content-quarter }}
      </div>
    </div>
    
    <div class="pillar-3col-half">
        {{> molecules-block-content-quarter-2by2col }}
    </div>
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{> molecules-block-content-quarter }}
      </div>
      <div class="pillar-bottom-half">
        
      </div>
    </div>
  </div>
</div>