<div class="pillar-content">
  <div class="pillar-3col">
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{#pillar-students-first}}{{> molecules-block-content-quarter }}{{/pillar-students-first}}
      </div>
      <div class="pillar-bottom-half">
        {{#pillar-students-second}}{{> molecules-block-content-quarter }}{{/pillar-students-second}}
      </div>
    </div>
    
    <div class="pillar-3col-half">
      <div class="pillar-top-half">
        {{#pillar-students-third}}{{> molecules-block-content-quarter-2col }}{{/pillar-students-third}}
      </div>
      <div class="pillar-bottom-half">
        {{#pillar-students-fourth}}{{> molecules-block-content-quarter }}{{/pillar-students-fourth}}
      </div>
    </div>
    
    <div class="pillar-3col-quarter">
      <div class="pillar-top-half">
        {{#pillar-students-fifth}}{{> molecules-block-content-quarter }}{{/pillar-students-fifth}}
      </div>
      <div class="pillar-bottom-half">
        
      </div>
    </div>
  </div>
</div>