<div class="pillar-content">
  <div class="pillar-2col">
    <div class="pillar-2col-half">
      {{> molecules-block-content-quarter-2by2col }}
    </div>
    <div class="pillar-2col-half">
      <div class="pillar-top-half">
        {{> molecules-block-content-quarter }}
        {{> molecules-block-content-quarter }}  
      </div>
      <div class="pillar-bottom-half">
        {{> molecules-block-content-quarter }}
        {{> molecules-block-content-quarter }}
      </div>
    </div>
  </div>
</div>