<div class="pillar-content">
  {{> molecules-block-content-quarter }}
  {{> molecules-block-content-quarter }}
  {{> molecules-block-content-quarter }}
  {{> molecules-block-content-quarter }}
    {{> molecules-block-content-quarter-2col }}
</div>