<div class="featured-events__wrapper">
  <div class="featured-events">
    <h2>Featured Events</h2>
    <ul>
      <li>
        {{> molecules-block-event-small }}
      </li>
      <li>
        {{> molecules-block-event-small }}
      </li>
      <li>
        {{> molecules-block-event-small }}
      </li>
      <li>
        {{> molecules-block-event-small }}
      </li>
    </ul>
  </div>
</div>