<div class="featured-events__wrapper">
  <div class="featured-events">
    <h2 class="headline">Featured Events <a type="button" class="btn btn--more btn--transparent">See All Events</a></h2>
    <ul>      
      {{# featured-events }}
        <li>{{> molecules-block-event-small }}</li>
      {{/ featured-events }}
    </ul>
  </div>
</div>