<div class="youtube__wrapper">
  <div class="youtube--inner">
    <h2 class="headline">YouTube <a type="button" class="btn btn--more btn--transparent">Subscribe</a></h2>
    <ul>
      {{# videos }}
      <li>
        {{> molecules-youtube-small }}
      </li>
      {{/ videos }}
    </ul>
  </div>
</div>