<div class="twitter__wrapper">
  <div class="twitter--inner">
    <h2 class="headline">Twitter <a type="button" class="btn btn--more btn--transparent">Follow</a></h2>
    <ul>
      {{# tweets }}
      <li>
        {{> molecules-twitter-small }}
      </li>
      {{/ tweets }}
    </ul>
  </div>
</div>