<div class="rotator__wrapper custom-color-element">
  <div class="rotator--inner">
    
    <div class="flexslider__wrapper flexslider">
      <ul class="slides">
        
        {{# rotator-items }}
        <li class="{{ term.class }}" data-thumb="{{ img.landscape-16x9.src }}">
          {{#img.landscape-16x9.src}}
            {{> atoms-landscape-16x9 }}
          {{/img.landscape-16x9.src}}
          <a href="#" class="btn btn--term {{ term.class }}">{{ term.name }}</a>
          <div class="data">
            <h4><a href="#">{{ headline.short }}</a></h4>
            <div class="readmore"><a href="#">Read More</a></div>
          </div>
        </li>
        {{/ rotator-items }}
      </ul>
    </div>
  </div>
</div>